@import url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../css/jquery.share.css);
html {
  background: #6d7479;
}
body {
  font-size: 14px;
  font-family: "Gothic", Arial;
}
p {
  font-size: inherit;
}
a,
a:visited,
a:focus,
a:active {
  outline: 0 none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1em 0 .4em;
  line-height: 1.15;
  font-family: "Gothic", Arial;
}
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}
h1 + h1,
h2 + h2,
h3 + h3,
h4 + h4,
h5 + h5,
h6 + h6 {
  margin-top: .5em;
}
h1 {
  font-size: 34px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 18px;
}
h6 {
  text-transform: uppercase;
  font-size: 1em;
  font-family: "PFDin", Arial, san-serif;
}
p {
  line-height: 1.4;
  margin: .8em 0 1em;
}
b {
  font-weight: 600;
}
iframe {
  display: block;
}
strong {
  font-weight: 600;
  color: #899f00;
}
label {
  font-weight: normal;
}
.form-control {
  -webkit-border-radius: 0;
  border-radius: 0;
  background-clip: padding-box;
}
.btn,
.btn:hover,
.btn:focus {
  color: #FFF;
  text-transform: uppercase;
  background: #f86e47;
  font-family: Helvetica, Arial, san-serif;
  font-weight: bold;
  -webkit-border-radius: 0;
  border-radius: 0;
  background-clip: padding-box;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
  -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  border-color: #f86e47;
}
.myshare .share-icon {
  margin: 0;
  vertical-align: middle;
}
.myshare .share-icon.share-icon-facebook {
  height: 22px;
  background: url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/social-share.png) 0 0 no-repeat;
  width: 66px;
  margin: 0 2px;
}
.myshare .share-icon.share-icon-twitter {
  height: 22px;
  background: url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/social-share.png) -74px 0 no-repeat;
  width: 66px;
  margin: 0 2px;
}
.myshare .share-icon.share-icon-email {
  height: 22px;
  background: url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/social-share.png) -149px 0 no-repeat;
  width: 66px;
  margin: 0 2px;
}
.btn.btn-right-corner {
  font-size: 20px;
  font-weight: normal;
  text-transform: none;
  background: #ff7754;
  color: #FFF;
  -webkit-border-radius: 0;
  border-radius: 0;
  background-clip: padding-box;
  border: 4px solid;
  border-color: #ff9b81 #e33b0f #e33b0f #ff9b81;
  -webkit-box-shadow: 3px 3px 5px rgba(0,0,0,0.11);
  box-shadow: 3px 3px 5px rgba(0,0,0,0.11);
  margin: 0px 16px 30px 0px;
  text-shadow: none;
}
a.btn.btn-right-corner {
  line-height: 1.1;
}
.video-thumb {
  display: block;
  position: relative;
}
.video-thumb:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 78px;
  height: 77px;
  margin-left: -39px;
  margin-top: -38px;
  background: url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/play-icon.png) 0 0 no-repeat;
}
.navbar-brand {
  height: auto;
  padding: 0 10px;
  margin-top: -10px;
}
@media screen and (max-width: 767px) {
  .navbar-brand {
    float: none;
    display: block;
    width: 100%;
  }
  .navbar-brand img {
    display: block;
    margin: 0 auto;
  }
}
.banner.navbar-default {
  background: #F1F2F4;
  border-bottom: 15px solid #245AA4;
  padding-top: 45px;
  margin-bottom: 0;
}
.banner.navbar-default .navbar-nav {
  float: right;
  margin-right: -10px;
}
.banner.navbar-default .navbar-nav > li {
  border-left: 1px solid #D9DADC;
  line-height: 25px;
  position: relative;
}
.banner.navbar-default .navbar-nav > li > a {
  color: #245AA4;
  text-transform: uppercase;
  font-size: 22px;
  padding: 25px 35px 16px;
  border-bottom: 14px solid transparent;
  letter-spacing: 2px;
}
.banner.navbar-default .navbar-nav > li > a .caret {
  border: 0 none;
  width: 16px;
  height: 12px;
  background: url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/caret.gif) 0 0 no-repeat;
  margin-left: 25px;
  vertical-align: baseline;
}
.banner.navbar-default .navbar-nav > li.active > a,
.banner.navbar-default .navbar-nav > li.active > a:hover,
.banner.navbar-default .navbar-nav > li:hover > a,
.banner.navbar-default .navbar-nav > li:hover > a:hover,
.banner.navbar-default .navbar-nav > li.open > a,
.banner.navbar-default .navbar-nav > li.open > a:hover {
  color: #245AA4;
  background: transparent;
  border-bottom-color: #b2c720;
}
.banner.navbar-default .navbar-nav > li .dropdown-menu {
  border: 0 none;
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  -webkit-border-radius: 0;
  border-radius: 0;
  background-clip: padding-box;
  width: auto;
  left: 50%;
  padding: 10px;
  margin-left: -108px;
}
.banner.navbar-default .navbar-nav > li .dropdown-menu > li > a {
  color: #a2b700;
  font-family: 'Droid Serif', serif;
  font-style: italic;
  font-size: 18px;
  background: transparent;
  margin-top: 7px;
}
.banner.navbar-default .navbar-nav > li .dropdown-menu > li.active > a,
.banner.navbar-default .navbar-nav > li .dropdown-menu > li.active > a:hover,
.banner.navbar-default .navbar-nav > li .dropdown-menu > li.open > a,
.banner.navbar-default .navbar-nav > li .dropdown-menu > li.open > a:hover {
  background: transparent;
}
.banner.navbar-default .navbar-nav > li .dropdown-menu > li:last-child .dropdown-menu {
  border-bottom: 0 none;
}
.banner.navbar-default .navbar-nav > li .dropdown-menu .dropdown-menu {
  -webkit-box-shadow: none;
  box-shadow: none;
  display: block;
  position: static;
  margin: 0;
  float: none;
  border-bottom: 1px solid #e6e7e7;
  padding-top: 0;
}
.banner.navbar-default .navbar-nav > li .dropdown-menu .dropdown-menu > li > a {
  padding: 3px 10px;
  color: #7b7b7b;
  font-family: "PFDin", Arial, san-serif;
  font-size: 14px;
  font-style: normal;
  margin-top: 0;
}
.banner.navbar-default .navbar-nav > li > .dropdown-menu {
  border-top: 15px solid #245AA4;
}
.banner.navbar-default .navbar-nav > li:hover > .dropdown-menu {
  display: block;
}
@media screen and (max-width: 991px) {
  .banner.navbar-default .navbar-nav > li > a {
    padding: 15px 15px 10px;
    font-size: 16px;
    border-bottom-width: 7px;
  }
  .banner.navbar-default .navbar-nav > li > a .caret {
    margin-left: 10px;
  }
  .banner.navbar-default .navbar-nav > li > .dropdown-menu {
    border-top-width: 7px;
  }
}
@media screen and (max-width: 767px) {
  .banner.navbar-default .navbar-nav {
    float: none;
    margin: 0 -10px;
    border-top: 0 none;
  }
  .banner.navbar-default .navbar-nav > li > a {
    padding: 7px 15px 6px;
    border-top: 1px solid #babbbc;
    border-bottom: 0 none;
  }
  .banner.navbar-default .navbar-nav > li .dropdown-menu {
    background: none repeat scroll 0 0 rgba(0,0,0,0);
    border: 0 none;
    float: none;
    margin: 0;
    padding: 0;
    position: static;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .banner.navbar-default .navbar-nav > li .dropdown-menu > li > a {
    margin: 0;
  }
  .banner.navbar-default .navbar-nav > li .dropdown-menu > li .dropdown-menu {
    margin-left: 15px;
    padding-bottom: 5px;
  }
}
@media screen and (max-width: 991px) {
  .banner.navbar-default {
    border-bottom-width: 7px;
  }
}
.banner.navbar-default .navbar-toggle {
  background: transparent url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/nav-toggle.png) center center no-repeat;
  width: 65px;
  height: 30px;
  border: 0 none;
}
.body {
  background: #FFF no-repeat center center;
  background-size: cover;
  padding: 35px 0 0;
}
.body.default-page {
  background: url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/page-bg.png) 0 0 repeat-x;
  background-size: auto;
  padding: 100px;
}
@media screen and (max-width: 767px) {
  .body {
    padding-top: 0;
  }
}
.content {
  font-family: "PFDin", Arial, san-serif;
  color: #8e9397;
  font-size: 20px;
}
.content ol {
  padding-left: 20px;
}
.content h4 {
  margin: 24px 0px;
}
.table {
  width: auto;
}
.table > tbody > tr > td {
  border: 0 none;
}
.table > tbody + tbody {
  border: 0 none;
}
.table > thead > tr > th {
  border: 0 none;
}
.image-sections .row {
  margin-bottom: 20px;
}
.image-sections .row div {
  position: relative;
}
.image-sections .row a.link-overlay {
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  bottom: 0;
  padding: 20px 0 10px 15px;
  color: #FFF;
  text-decoration: none;
  font-size: 70px;
  line-height: 1.05;
  background: rgba(126,154,170,0.52);
  text-shadow: 1px 5px 18px rgba(0,0,0,0.45);
  font-family: "Gothic", Arial;
  opacity: 0;
  -webkit-transition: opacity .3s;
  -moz-transition: opacity .3s;
  -o-transition: opacity .3s;
  -ms-transition: opacity .3s;
  transition: opacity .3s;
}
.image-sections .row a.link-overlay:hover {
  opacity: 1;
}
.image-sections .row a.link-overlay > span {
  position: absolute;
  left: 15px;
  bottom: 10px;
  right: 0;
}
.image-sections .row a.link-overlay > span:after {
  content: '';
  display: inline-block;
  width: 33px;
  height: 42px;
  background: url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/polygon.png) 0 0 no-repeat;
  background-size: 100%;
  margin-left: 15px;
}
@media screen and (max-width: 991px) {
  .image-sections .row a.link-overlay {
    font-size: 36px;
  }
  .image-sections .row a.link-overlay > span:after {
    width: 22px;
    height: 28px;
    vertical-align: bottom;
    position: relative;
    top: -3px;
  }
}
.image-sections .row img {
  max-width: 100%;
  height: auto;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .image-sections .row {
    margin-bottom: 0;
  }
  .image-sections .row a.link-overlay {
    opacity: 1;
  }
  .image-sections .row > div {
    margin-bottom: 15px;
  }
  .image-sections .row > div div {
    overflow: hidden;
  }
  .image-sections .row img {
    height: 240px;
    max-width: none;
    width: auto;
  }
}
.image-sections .special-video {
  padding: 20px;
  background: #EFE9EB;
  text-align: center;
  font-family: 'Helvetica', Arial, san-serif;
  font-size: 14px;
  color: #252525;
}
.image-sections .special-video h5 {
  color: #245AA4;
  padding: 15px 0;
  margin: 0 0 15px;
  border-bottom: 1px solid #DAD7DB;
  font-size: 25px;
}
.image-sections .special-video p {
  margin: 0;
}
.flex-direction-nav a {
  width: 20px;
  height: 33px;
  margin-top: -16px;
  background: url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/carousels-nav.png) 0 0 no-repeat;
  opacity: 1;
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.flex-direction-nav a:before {
  display: none;
}
.flex-direction-nav a.flex-prev {
  left: -35px;
}
.flex-direction-nav a.flex-next {
  background-position: 100% 0;
  right: -35px;
}
.section-title {
  font-size: 48px;
  color: #235aa4;
  text-transform: uppercase;
}
.section-head {
  font-size: 38px;
  font-family: "PFDin", Arial, san-serif;
  color: #282c30;
  text-transform: uppercase;
  font-weight: 600;
}
.section-subhead {
  color: #f86e47;
  font-family: 'Droid Serif', serif;
  font-style: italic;
  font-size: 28px;
  font-weight: bold;
  line-height: 1.35;
}
.section-subhead2 {
  color: #a2b700;
  font-family: 'Droid Serif', serif;
  font-style: italic;
  font-size: 35px;
  line-height: 1.35;
}
.section-subhead2-1 {
  color: #a2b700;
  font-family: 'Droid Serif', serif;
  font-style: italic;
  font-size: 35px;
  line-height: 1.35;
  font-size: 28px;
}
.section-subhead3 {
  font-size: 30px;
  color: #70c1c8;
}
.section-subhead4 {
  color: #70c1c8;
  font-family: "PFDin", Arial, san-serif;
  font-weight: bold;
  font-size: 22px;
  line-height: 1.35;
}
.section-line-head {
  color: #e0431e;
  text-transform: uppercase;
  text-align: center;
  margin: 35px 0 1em;
}
.section-line-head > span {
  border: 2px solid #e0431e;
  border-width: 2px 0;
  display: inline-block;
  line-height: 1;
  padding: 10px 0;
}
@media screen and (max-width: 767px) {
  .section-title {
    font-size: 30px;
  }
  .section-head {
    font-size: 26px;
  }
  .section-subhead {
    font-size: 18px;
  }
}
.toptab {
  line-height: 54px;
  background: url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/top-tab.png) 50% 50% no-repeat;
  color: #FFF;
  font-family: 'Droid Serif', serif;
  font-style: italic;
  font-size: 28px;
  text-align: center;
  margin: 55px 0 40px;
  min-width: 752px;
}
.toptab-long {
  line-height: 54px;
  background: url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/top-tab.png) 50% 50% no-repeat;
  color: #FFF;
  font-family: 'Droid Serif', serif;
  font-style: italic;
  font-size: 28px;
  text-align: center;
  margin: 55px 0 40px;
  min-width: 752px;
  background-image: url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/top-tab-long.png);
  min-width: 933px;
}
.toptab-logo {
  line-height: 54px;
  background: url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/top-tab-logo.png) 50% 50% no-repeat;
  color: #FFF;
  min-width: 871px;
  font-size: 20px;
  font-family: "PFDin", Arial, san-serif;
  font-style: normal;
  font-weight: bold;
  float: left;
  text-align: center;
  padding-right: 348px;
}
.one-section {
  color: #797f84;
  font-weight: 300;
  margin: 0 -10px;
  font-size: 20px;
  overflow: hidden;
}
.one-section .section-wrap {
  width: 100%;
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 15px;
}
.one-section b {
  color: #899F00;
  font-size: 25px;
}
.one-section .section-list {
  counter-reset: section-counter;
}
.one-section .section-list h4 {
  font-size: 25px;
  color: #4e5459;
}
.one-section .section-list ol {
  margin: .8em 0 0;
  padding: 0;
  list-style: none;
}
.one-section .section-list ol li {
  font-size: 16px;
  font-family: 'Droid Serif', serif;
  font-style: italic;
  margin: 0 0 10px;
  line-height: 1.55;
  position: relative;
}
.one-section .section-list ol li:before {
  content: counter(section-counter);
  counter-increment: section-counter;
  position: absolute;
  left: -52px;
  top: 0;
  border: 4px solid #c9e03a;
  width: 42px;
  line-height: 36px;
  text-align: center;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-clip: padding-box;
  font-weight: bold;
  font-style: normal;
  color: #282c30;
  font-size: 24px;
}
@media screen and (max-width: 767px) {
  .one-section {
    font-size: 16px;
  }
  .one-section b {
    font-size: 18px;
  }
  .one-section .section-list h4 {
    margin-bottom: 0;
    font-size: 18px;
    font-family: "PFDin", Arial, san-serif;
  }
  .one-section .section-list ol {
    padding-left: 40px;
  }
  .one-section .section-list ol li {
    font-size: 14px;
  }
  .one-section .section-list ol li:before {
    font-size: 16px;
    width: 33px;
    height: 33px;
    line-height: 28px;
    border-width: 2px;
    left: -42px;
  }
}
.one-section .section-table {
  color: #FFF;
  border-radius: 10px;
  margin: 0 0 50px;
}
.one-section .section-table td {
  padding: 15px 0;
}
.one-section .section-table td > div {
  padding: 35px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  align-items: center;
  background-color: #888b44;
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#53532C),color-stop(100% #9EAE3E));
  background-image: -webkit-linear-gradient(top,#53532C 0%,#9EAE3E 100%);
  background-image: -moz-linear-gradient(top,#53532C 0%,#9EAE3E 100%);
  background-image: -ms-linear-gradient(top,#53532C 0%,#9EAE3E 100%);
  background-image: -o-linear-gradient(top,#53532C 0%,#9EAE3E 100%);
  background-image: linear-gradient(top,#53532C 0%,#9EAE3E 100%);
  margin: 0 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-clip: padding-box;
  line-height: 1.3;
}
.one-section .bracket-list {
  padding: 0 44px 0 29px;
  color: #ff4211;
  background: url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/bracket-left.png) 0 50% no-repeat, url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/bracket-right.png) 100% 50% no-repeat;
  min-height: 124px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  align-items: center;
}
.one-section .bracket-list ul {
  margin: 15px 0;
}
.one-section .bracket-list ul li {
  font-size: 19px;
  font-family: 'Droid Serif', serif;
  font-style: italic;
  margin: 0;
  line-height: 1.55;
}
.one-section .bracket-list .bracket-content {
  font-family: 'Droid Serif', serif;
  font-style: italic;
}
.one-section .arrow-section {
  text-align: center;
  counter-reset: arrow-counter;
}
.one-section .arrow-section > section + section {
  background: url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/arrow-sep.png) 0 70px no-repeat;
}
.one-section .arrow-section h1 {
  font-size: 24px;
  color: #e0431e;
}
.one-section .arrow-section h1:after {
  display: block;
  margin: 20px auto 0;
  width: 114px;
  height: 73px;
  counter-increment: arrow-counter;
  content: counter(arrow-counter);
  text-align: center;
  color: #FFF;
  font-size: 35px;
  font-weight: bold;
  background: url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/number-arrow.png) 0 0 no-repeat;
  padding-top: 12px;
}
.one-section .arrow-section p {
  font-size: 18px;
  font-family: 'Droid Serif', serif;
  font-style: italic;
  padding: 0 15px;
}
.one-section .arrow-section-h-wrap {
  margin-bottom: 60px;
}
.one-section .arrow-section-h {
  display: flex;
  justify-content: center;
  align-items: stretch;
  align-items: center;
  justify-content: flex-start;
}
.one-section .arrow-section-h h1 {
  font-size: 24px;
  color: #e0431e;
  font-weight: bold;
  line-height: 1.1;
}
.one-section .arrow-section-h .arrow-count {
  text-align: center;
  padding-right: 10px;
  display: block;
  width: 73px;
  height: 114px;
  line-height: 114px;
  font-weight: bold;
  font-size: 35px;
  color: #FFF;
  background: url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/number-arrow-h.png) 0 0 no-repeat;
}
.one-section .arrow-section-h p {
  font-size: 18px;
  margin: 0;
  font-family: 'Droid Serif', serif;
  font-style: italic;
}
.one-section .arrow-section-h .a-title {
  width: 120px;
  margin-right: 40px;
}
.one-section .arrow-section-h .a-arrow {
  width: 73px;
  margin-right: 35px;
}
.one-section .arrow-section-h .a-content {
  max-width: 790px;
}
.one-section .arrow-section-h .a-link {
  font-size: 18px;
  font-family: 'Droid Serif', serif;
  font-style: italic;
  color: #e9552a;
}
.one-section .arrow-section-h .a-link:before {
  content: '> ';
}
@media screen and (max-width: 767px) {
  .one-section .arrow-section-h {
    align-items: flex-start;
    flex-direction: column;
  }
  .one-section .arrow-section-h p {
    font-size: 16px;
  }
  .one-section .arrow-section-h .a-title {
    width: auto !important;
  }
  .one-section .arrow-section-h .a-arrow {
    display: none;
  }
  .one-section .arrow-section-h .a-link {
    margin-top: 15px;
    font-size: 16px;
    display: inline-block;
  }
}
.one-section .top-nav-wrap {
  max-width: 1280px;
  margin: 0 auto;
}
.one-section .top-nav-carousel {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 10px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  max-height: 441px;
}
.one-section .top-nav-carousel .flex-viewport {
  overflow: visible !important;
}
.one-section .top-nav-carousel .flex-viewport li {
  opacity: 0;
  -webkit-transition: opacity .5s;
  -moz-transition: opacity .5s;
  -o-transition: opacity .5s;
  -ms-transition: opacity .5s;
  transition: opacity .5s;
}
.one-section .top-nav-carousel .flex-viewport li.in-view {
  opacity: 1;
}
.one-section .top-nav-carousel .flex-viewport li:before {
  pointer-events: none;
  width: 105%;
  height: 0;
  padding-bottom: 105%;
  content: '';
  position: absolute;
  left: -2.5%;
  top: 0;
  background: url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/nav-circle.png) center center no-repeat;
  background-size: 100%;
}
.one-section .top-nav-carousel .slides li {
  text-align: center;
  padding-bottom: 150px;
  padding-top: 57px;
  position: relative;
}
.one-section .top-nav-carousel .slides li img {
  display: block;
  margin: 0 auto;
  max-width: 90%;
}
.one-section .top-nav-carousel .slides li .nav-title {
  position: absolute;
  top: 360px;
  left: 0;
  width: 100%;
  font-family: 'Droid Serif', serif;
  font-style: italic;
  color: #a2b700;
  padding: 0 60px;
}
.one-section .top-nav-carousel .flex-direction-nav a {
  margin-top: 0;
  top: 35%;
}
@media screen and (max-width: 991px) {
  .one-section .top-nav-carousel {
    max-width: 750px;
  }
}
@media screen and (max-width: 767px) {
  .one-section .top-nav-carousel {
    max-width: 75%;
    margin-top: 35px;
  }
  .one-section .top-nav-carousel .slides li {
    padding: 30px 15px 80px;
  }
  .one-section .top-nav-carousel .slides li .nav-title {
    top: 150px;
    padding: 0;
    font-size: 14px;
  }
  .one-section .top-nav-carousel .flex-direction-nav a.flex-prev {
    left: -25px;
  }
  .one-section .top-nav-carousel .flex-direction-nav a.flex-next {
    right: -25px;
  }
}
@media screen and (max-width: 480px) {
  .one-section .top-nav-carousel .slides li img {
    max-height: 100px;
  }
}
.one-section footer {
  font-size: 18px;
  color: #000;
}
.one-section.can-section-1 {
  font-size: 23px;
  padding-top: 184px;
}
.one-section.can-section-1 .section-wrap {
  position: relative;
  padding-bottom: 20px;
}
.one-section.can-section-1 .section-ribbon {
  font-family: 'Droid Serif', serif;
  font-style: italic;
  color: #FFF;
  font-size: 21px;
  text-align: center;
  padding: 20px 150px;
  width: 958px;
  height: 146px;
  background: url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/section-ribbon.png) 100% 0 no-repeat;
  display: flex;
  justify-content: center;
  align-items: stretch;
  align-items: center;
  position: relative;
  left: -100px;
}
.one-section.can-section-1 .section-image {
  position: absolute;
  left: -185px;
  bottom: -50px;
}
@media screen and (max-width: 767px) {
  .one-section.can-section-1 {
    font-size: 16px;
    padding-top: 35px;
  }
  .one-section.can-section-1 .section-ribbon {
    position: absolute;
    right: 15px;
    font-size: 16px;
    left: -5px;
    width: auto;
    padding-left: 15px;
    padding-right: 35px;
  }
  .one-section.can-section-1 .contentsecond {
    margin-top: 176px;
  }
}
.one-section.can-section-2 {
  text-align: center;
  background: url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/can-bg.png) 0 0 repeat-x;
}
.one-section.can-section-2 .section-wrap {
  padding-top: 65px;
  padding-bottom: 150px;
  position: relative;
}
.one-section.can-section-2 .contentfirst {
  font-family: 'Droid Serif', serif;
  font-style: italic;
  color: #a2b700;
  font-size: 23px;
  width: 1100px;
  margin: 0 auto;
}
.one-section.can-section-2 .contentsecond {
  max-width: 800px;
  margin: 0 auto;
}
.one-section.can-section-2 .section-image {
  display: block;
  margin: 0 auto;
}
.one-section.can-section-2 .section-list {
  text-align: left;
  position: absolute;
  right: 0;
  bottom: 110px;
  width: 320px;
}
@media screen and (max-width: 767px) {
  .one-section.can-section-2 .contentfirst {
    width: auto;
    font-size: 18px;
  }
  .one-section.can-section-2 .section-list {
    position: static;
  }
}
.one-section.can-section-3 {
  background: url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/can-bg-2.jpg) 0 0 repeat-x;
}
.one-section.can-section-3 .section-wrap {
  padding-top: 5px;
  padding-bottom: 20px;
}
.one-section.can-section-3 .section-image {
  float: right;
}
.one-section.can-section-3 .contentfirst {
  margin-top: 80px;
}
.one-section.can-section-3 .buttonfield {
  text-align: center;
  padding: 40px 0 0;
}
.one-section.can-section-3 .section-list {
  position: relative;
  top: -45px;
}
.one-section.can-section-3 .section-list h4 {
  margin-left: 52px;
  font-family: "PFDin", Arial, san-serif;
  color: #4e5459;
}
.one-section.can-section-3 .section-list li {
  margin-left: 52px;
  margin-right: 15px;
}
@media screen and (max-width: 767px) {
  .one-section.can-section-3 .buttonfield a {
    margin: 0;
  }
  .one-section.can-section-3 .contentfirst {
    margin-top: 30px;
  }
  .one-section.can-section-3 .section-image {
    float: none;
    max-width: 100%;
    height: auto;
  }
  .one-section.can-section-3 .section-list {
    position: static;
  }
  .one-section.can-section-3 .section-list h4,
  .one-section.can-section-3 .section-list li {
    margin-left: 0;
  }
}
.one-section.can-section-4 {
  background: url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/can-bg.png) 0 0 repeat-x;
}
.one-section.can-section-4 .section-wrap {
  padding-top: 100px;
  padding-bottom: 140px;
}
.one-section.can-section-4 .section-image {
  display: block;
  margin: 80px auto 0;
}
.one-section.can-section-4 .section-list h4 {
  margin-left: 52px;
  font-family: "PFDin", Arial, san-serif;
  color: #4e5459;
}
.one-section.can-section-4 .section-list li {
  margin-left: 52px;
  margin-right: 15px;
}
.one-section.can-section-5 {
  background: url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/cans-hybrid-bg.png) right center no-repeat, url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/can-bg-2.jpg) 0 0 repeat-x #fafdfe;
}
.one-section.can-section-5 .section-wrap {
  padding-top: 140px;
  padding-bottom: 85px;
}
.one-section.can-section-5 .section-image {
  float: right;
  margin: 120px 0 0;
}
.one-section.can-section-5 .bracket-list {
  float: right;
}
.one-section.can-section-6 {
  background: url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/can-bg.png) 0 0 repeat-x;
}
.one-section.can-section-6 .section-wrap {
  padding-top: 60px;
  padding-bottom: 140px;
}
.one-section.can-section-6 .section-image {
  display: block;
  float: right;
  margin: 65px 45px 70px 0;
}
.one-section.can-section-6 h1 {
  font-family: "PFDin", Arial, san-serif;
  color: #e53c19;
  font-weight: bold;
}
.one-section.can-section-6 b {
  display: block;
  line-height: 1.2;
  margin: 0 0 10px;
}
.one-section.can-section-7 .section-wrap {
  padding-top: 115px;
}
.one-section.can-section-7 .toptab {
  margin-top: 90px;
}
.one-section.can-section-7 h1 {
  font-family: "PFDin", Arial, san-serif;
  color: #e53c19;
  font-weight: bold;
}
.one-section.can-section-8 {
  font-size: 18px;
  padding-bottom: 50px;
}
.one-section.can-section-8 h3,
.one-section.can-section-8 h4 {
  font-family: 'Droid Serif', serif;
  font-style: italic;
  font-size: 26px;
  color: #899f00;
}
.one-section.can-section-8 h3 {
  color: #a2b700;
  font-size: 36px;
}
.one-section.can-section-8 .section-ribbon {
  float: left;
  width: 861px;
  height: 146px;
  background: url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/section-ribbon-2.png) 0 0 no-repeat;
  padding: 35px 0 0 40px;
  font-family: 'Droid Serif', serif;
  font-style: italic;
  color: #FFF;
  font-size: 19px;
  text-align: center;
}
.one-section.can-section-8 .section-ribbon p {
  margin: 0;
  max-width: 540px;
}
.one-section.can-section-8 .section-ribbon a {
  color: #fff;
  text-decoration: underline;
}
.one-section.end-section-1 {
  font-size: 22px;
}
.one-section.end-section-1 .section-wrap {
  padding-bottom: 160px;
  padding-top: 150px;
  position: relative;
}
.one-section.end-section-1 .section-ribbon {
  font-family: 'Droid Serif', serif;
  font-style: italic;
  color: #FFF;
  font-size: 32px;
  text-align: center;
  padding: 20px 150px;
  width: 925px;
  height: 146px;
  background: url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/section-ribbon-2.png) 100% 0 no-repeat;
  display: flex;
  justify-content: center;
  align-items: stretch;
  align-items: center;
  position: relative;
  left: -40px;
}
.one-section.end-section-1 .section-ribbon p {
  line-height: 1.3;
}
.one-section.end-section-1 .contentfirst {
  margin: 30px 0 50px;
}
.one-section.end-section-1 .section-image {
  position: absolute;
  right: 0;
  bottom: 0;
}
@media screen and (max-width: 767px) {
  .one-section.end-section-1 {
    font-size: 16px;
  }
  .one-section.end-section-1 .section-wrap {
    padding-top: 0;
  }
  .one-section.end-section-1 .contentfirst {
    margin-bottom: 30px;
  }
  .one-section.end-section-1 .section-ribbon {
    background-position: 0 0;
    font-size: 20px;
    left: 0;
    padding: 20px 20px 20px 30px;
    position: absolute;
    right: -5px;
    width: auto;
  }
}
.one-section.end-section-2 {
  background: url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/can-bg-2.jpg) 0 0 repeat-x #fafdfe;
  text-align: center;
}
.one-section.end-section-2 .section-wrap {
  padding-top: 100px;
}
.one-section.end-section-2 .section-image-wrap {
  margin-top: 40px;
  padding-top: 100px;
  padding-bottom: 90px;
  background: url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/bg-circle.png) center 0 no-repeat;
}
.one-section.end-section-2 .bracket-list {
  margin: 0 80px;
}
.one-section.end-section-2 h1 {
  font-family: "PFDin", Arial, san-serif;
  margin-bottom: 1.4em;
  font-weight: 600;
}
@media screen and (max-width: 767px) {
  .one-section.end-section-2 .section-image-wrap {
    background: none;
    padding-top: 0;
    padding-bottom: 30px;
  }
  .one-section.end-section-2 h1 {
    font-size: 20px;
    text-transform: uppercase;
  }
  .one-section.end-section-2 .bracket-list {
    margin: 0 0 25px;
  }
}
.one-section.end-section-3 {
  background: url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/can-bg.png) 0 0 repeat-x;
}
.one-section.end-section-3 .section-wrap {
  padding-top: 140px;
  padding-bottom: 60px;
}
.one-section.end-section-3 .contentsecond {
  position: relative;
  top: -50px;
}
@media screen and (max-width: 767px) {
  .one-section.end-section-3 .contentsecond {
    position: static;
    display: block;
  }
  .one-section.end-section-3 .section-image {
    margin: 0 auto;
    display: block;
  }
}
.one-section.sus-section-1 {
  font-size: 23px;
}
.one-section.sus-section-1 h2 {
  font-family: "PFDin", Arial, san-serif;
  font-weight: 600;
}
.one-section.sus-section-1 .section-wrap {
  position: relative;
  padding-bottom: 40px;
  padding-top: 30px;
}
.one-section.sus-section-1 .section-ribbon {
  font-family: 'Droid Serif', serif;
  font-style: italic;
  color: #FFF;
  font-size: 30px;
  text-align: left;
  padding: 20px 150px;
  width: 924px;
  height: 146px;
  background: url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/section-ribbon-2.png) 100% 0 no-repeat;
  display: flex;
  justify-content: center;
  align-items: stretch;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  left: -40px;
}
.one-section.sus-section-1 .section-ribbon p {
  line-height: 1.3;
}
.one-section.sus-section-1 .section-image {
  position: absolute;
  bottom: 0;
  right: -40px;
}
.one-section.sus-section-2 {
  text-align: center;
  background: url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/can-bg.png) 0 0 repeat-x;
}
.one-section.sus-section-2 .section-wrap {
  padding-top: 80px;
  padding-bottom: 70px;
}
.one-section.sus-section-2 .section-image-wrap {
  background: url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/recycle.png) no-repeat 50% 0;
  height: 951px;
  position: relative;
  margin: 0 auto 30px;
}
.one-section.sus-section-2 .section-image-wrap .section-image {
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}
.one-section.sus-section-2 .section-image-wrap .circle-text {
  position: absolute;
  width: 470px;
  height: 208px;
  background: url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/circle-section.png) 0 0 no-repeat;
  font-family: 'Droid Serif', serif;
  font-style: italic;
  text-align: center;
  left: 0;
  top: 0;
  color: #FFF;
  padding: 40px 130px 0;
  font-size: 18px;
}
.one-section.sus-section-2 .section-image-wrap .circle-text b {
  display: block;
  font-family: "Gothic", Arial;
  font-style: normal;
  color: #FFF;
  font-size: 50px;
  line-height: 1.1;
  font-weight: 100;
}
.one-section.sus-section-2 .section-image-wrap .circle-text.circle-1 {
  left: 0;
  top: 20%;
}
.one-section.sus-section-2 .section-image-wrap .circle-text.circle-2 {
  left: 0;
  top: 50%;
}
.one-section.sus-section-2 .section-image-wrap .circle-text.circle-3 {
  left: auto;
  right: 0;
  top: 20%;
}
.one-section.sus-section-2 .section-image-wrap .circle-text.circle-4 {
  left: auto;
  right: 0;
  top: 50%;
}
.one-section.sus-section-2 .contentsecond {
  font-size: 25px;
  font-weight: bold;
  color: #f35b36;
  text-align: left;
}
.one-section.sus-section-2 .recycle-head {
  text-transform: uppercase;
  font-size: 48px;
  color: #79bac1;
}
.one-section.sus-section-2 .recycle-section {
  width: 1150px;
  height: 586px;
  background: url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/recycle-list.png) 0 0 no-repeat;
  margin: 0 auto;
  color: #FFF;
}
.one-section.sus-section-2 .recycle-section .recycle-item {
  height: 195px;
  padding: 0 90px 0 215px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  font-weight: bold;
}
.one-section.sus-section-2 .recycle-section .recycle-item .item-1 {
  width: 325px;
  padding-right: 50px;
  float: left;
  font-size: 36px;
  line-height: 1;
}
.one-section.sus-section-2 .recycle-section .recycle-item .item-2 {
  width: 520px;
  float: left;
  font-size: 22px;
  font-weight: normal;
  line-height: 1.3;
}
.one-section.sus-section-2 footer {
  font-family: "PFDin", Arial, san-serif;
  font-size: 14px;
  float: left;
  margin-top: 30px;
}
@media screen and (max-width: 767px) {
  .one-section.sus-section-2 .section-image-wrap {
    background-size: 100%;
    background-position: 50% 5%;
    height: auto;
  }
  .one-section.sus-section-2 .section-image-wrap .section-image {
    max-width: 75%;
    margin-bottom: 50px;
  }
  .one-section.sus-section-2 .section-image-wrap .circle-text {
    position: static;
    background-size: 100%;
    width: auto;
    padding: 9% 25% 0;
    font-size: 12px;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
  .one-section.sus-section-2 .section-image-wrap .circle-text b {
    font-size: 22px;
  }
  .one-section.sus-section-2 .contentsecond {
    font-size: 18px;
  }
  .one-section.sus-section-2 .recycle-section {
    background: none;
    width: auto;
  }
  .one-section.sus-section-2 .recycle-section .recycle-item {
    padding: 0;
    flex-direction: column;
    min-height: 150px;
    margin-bottom: 15px;
    height: auto;
  }
  .one-section.sus-section-2 .recycle-section .recycle-item .item-1 {
    width: auto;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;
    height: 13%;
  }
  .one-section.sus-section-2 .recycle-section .recycle-item .item-2 {
    width: auto;
    padding: 0 0 0 35%;
    font-size: 14px;
  }
  .one-section.sus-section-2 .recycle-section .recycle-item:first-child {
    background: url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/recycle-bg-mobile-1.jpg) 0 0 no-repeat;
    background-size: 100%;
  }
  .one-section.sus-section-2 .recycle-section .recycle-item:nth-child(2) {
    background: url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/recycle-bg-mobile-2.jpg) 0 0 no-repeat;
    background-size: 100%;
  }
  .one-section.sus-section-2 .recycle-section .recycle-item:nth-child(3) {
    background: url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/recycle-bg-mobile-3.jpg) 0 0 no-repeat;
    background-size: 100%;
  }
}
.one-section.sus-section-3 {
  background: url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/can-bg-3.jpg) 0 0 repeat-x #fafdfe;
}
.one-section.sus-section-3 .section-wrap {
  padding-top: 110px;
  padding-bottom: 70px;
}
.one-section.sus-section-3 .contentfirst {
  margin: 0 0 35px;
}
.one-section.sus-section-3 .contentsecond {
  text-align: center;
  font-family: 'Droid Serif', serif;
  font-style: italic;
  color: #797f84;
  font-size: 20px;
  margin-bottom: 40px;
}
.one-section.sus-section-3 .contentsecond p {
  margin-top: 0;
}
.one-section.sus-section-3 h3 {
  font-size: 30px;
}
.one-section.sus-section-3 .chain-items {
  text-align: center;
}
.one-section.sus-section-3 .chain-items > div {
  margin-bottom: 40px;
}
.one-section.sus-section-3 .chain-items > div:nth-child(4) {
  clear: left;
}
.one-section.sus-section-3 .chain-items h5 {
  font-size: 24px;
  font-weight: 600;
  color: #e0431e;
  font-family: "PFDin", Arial, san-serif;
}
.one-section.sus-section-3 .chain-items .step {
  display: block;
  margin: 20px auto 15px;
  width: 114px;
  height: 73px;
  counter-increment: arrow-counter;
  content: counter(arrow-counter);
  text-align: center;
  color: #FFF;
  font-size: 35px;
  font-weight: bold;
  background: url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/number-arrow.png) 0 0 no-repeat;
  padding-top: 12px;
}
.one-section.sus-section-3 .chain-items p {
  font-style: italic;
  font-family: 'Droid Serif', serif;
  font-size: 18px;
  max-width: 300px;
  margin: 20px auto 0;
}
.one-section.sus-section-4 {
  background: url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/can-bg.png) 0 0 repeat-x;
}
.one-section.sus-section-4 .section-wrap {
  padding-top: 100px;
  padding-bottom: 85px;
  position: relative;
}
.one-section.sus-section-4 .section-ribbon {
  font-family: 'Droid Serif', serif;
  font-style: italic;
  color: #FFF;
  font-size: 30px;
  text-align: center;
  padding: 20px 20px 20px 220px;
  width: 855px;
  height: 101px;
  background: url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/thin-ribbon.png) 100% 0 no-repeat;
  position: relative;
  left: -305px;
  margin-bottom: 20px;
  line-height: 54px;
}
.one-section.sus-section-4 .section-image {
  position: absolute;
  left: -400px;
  top: 145px;
}
.one-section.sus-section-5 {
  background: url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/can-bg.png) 0 0 repeat-x;
}
.one-section.sus-section-5 .section-wrap {
  padding-top: 80px;
  padding-bottom: 30px;
}
.one-section.sus-section-5 .video-head {
  font-size: 30px;
  margin-bottom: 30px;
}
.one-section.sus-section-5 .videotext {
  font-family: 'Droid Serif', serif;
  font-style: italic;
  color: #797f84;
  font-size: 18px;
}
.one-section.sus-section-5 .toptab {
  margin: 90px 0 50px;
  float: left;
}
.one-section.sus-section-5 .arrow-section-h .a-title {
  width: 205px;
}
.one-section.sus-section-5 .arrow-section-h .a-title h1 {
  font-family: "PFDin", Arial, san-serif;
  color: #282c30;
  font-weight: 600;
}
.one-section.sus-section-5 h4 {
  font-family: "PFDin", Arial, san-serif;
  font-size: 25px;
  margin: 12px 0px;
}
.one-section.sus-section-6 {
  background: url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/careers-bg.png) repeat-x 0 0;
}
.one-section.sus-section-6 .section-wrap {
  padding-top: 145px;
  padding-bottom: 220px;
}
.one-section.sus-section-6 h1.section-line-head {
  font-size: 60px;
}
.one-section.sus-section-6 iframe {
  background: #FFF;
  margin: auto;
}
.one-section.health-section-1 {
  font-size: 22px;
}
.one-section.health-section-1 .section-wrap {
  padding-bottom: 40px;
  padding-top: 350px;
  position: relative;
}
.one-section.health-section-1 .section-ribbon {
  font-family: 'Droid Serif', serif;
  font-style: italic;
  color: #FFF;
  font-size: 24px;
  text-align: center;
  padding: 10px 150px 10px 350px;
  width: 1071px;
  height: 146px;
  background: url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/section-ribbon.png) 100% 0 no-repeat;
  display: flex;
  justify-content: center;
  align-items: stretch;
  align-items: center;
  position: relative;
  left: -230px;
}
.one-section.health-section-1 .section-image {
  position: absolute;
  left: -110px;
  bottom: 0;
}
.one-section.health-section-1 p {
  position: relative;
  z-index: 1;
}
.one-section.health-section-1 .section-title,
.one-section.health-section-1 .section-subhead3,
.one-section.health-section-1 p {
  margin-left: 3%;
}
.one-section.health-section-1 h2 {
  font-family: "Gothic", Arial;
  font-weight: 100;
}
.one-section.health-section-2 {
  background: url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/can-bg.png) 0 0 repeat-x;
}
.one-section.health-section-2 .section-wrap {
  padding-top: 65px;
}
.one-section.health-section-2 .contentfirst {
  display: flex;
  justify-content: center;
  align-items: stretch;
  align-items: center;
  line-height: 1.35;
}
.one-section.health-section-2 .contentfirst > div + div:before {
  background: url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/content-sep.png) 0 0 no-repeat;
  position: absolute;
  left: -9%;
  top: 0;
  bottom: 0;
  width: 1px;
  content: '';
}
.one-section.health-section-2 p {
  font-size: 20px;
  line-height: 1.35;
}
.one-section.health-section-2 b {
  color: #a2b700;
  font-size: 28px;
  font-family: 'Droid Serif', serif;
  font-style: italic;
}
.one-section.health-section-2 .tooltip-wrapper {
  margin-top: 150px;
}
.one-section.health-section-2 .section-image {
  margin: 0 auto;
  display: block;
}
.one-section.health-section-3 {
  background: url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/cus-bg-2.png) 0 0 repeat-x;
}
.one-section.health-section-3 .section-wrap {
  padding-top: 145px;
  padding-bottom: 25px;
}
.one-section.health-section-3 .section-image {
  float: right;
  margin-top: -150px;
}
.one-section.health-section-3 .can-title {
  font-size: 48px;
  font-weight: bold;
  color: #FFF;
  background: #70c1c8;
  text-transform: uppercase;
  padding: 55px 50px 60px;
  line-height: 1;
  border-radius: 10px;
  position: relative;
}
.one-section.health-section-3 .can-title span {
  font-size: 100px;
  position: absolute;
  right: 40px;
  letter-spacing: 0;
  top: 50%;
  line-height: 1;
  letter-spacing: -5px;
  margin-top: -55px;
}
.one-section.health-section-3 .can-title sup {
  top: auto;
  vertical-align: top;
  font-size: 50px;
  position: relative;
  top: -0.7em;
  vertical-align: baseline;
}
.one-section.health-section-3 .can-section {
  *zoom: 1;
  text-align: center;
  position: relative;
  color: #000;
  margin: -30px 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.one-section.health-section-3 .can-section:before,
.one-section.health-section-3 .can-section:after {
  display: table;
  content: "";
  line-height: 0;
}
.one-section.health-section-3 .can-section:after {
  clear: both;
}
.one-section.health-section-3 .can-section .can-item {
  float: left;
  font-size: 18px;
}
.one-section.health-section-3 .can-section .can-item:first-child {
  width: 26%;
}
.one-section.health-section-3 .can-section .can-item:nth-child(2) {
  width: 31%;
}
.one-section.health-section-3 .can-section .can-item:last-child {
  width: 39%;
}
.one-section.health-section-3 .can-section .can-item img {
  max-width: 100%;
  height: auto;
}
.one-section.health-section-3 .can-section .can-item p {
  line-height: 1.3;
}
.one-section.health-section-4 {
  background: url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/can-bg-2.jpg) 0 0 repeat-x;
  font-size: 18px;
}
.one-section.health-section-4 .section-wrap {
  padding-top: 70px;
  padding-bottom: 65px;
  position: relative;
}
.one-section.health-section-4 .section-content {
  position: absolute;
  left: 15px;
  top: 70px;
  width: 500px;
}
.one-section.health-section-4 .section-image-wrap {
  position: relative;
  counter-reset: health-counter;
}
.one-section.health-section-4 .section-image-wrap .health-item {
  position: absolute;
  width: 500px;
}
.one-section.health-section-4 .section-image-wrap .health-item h4 {
  font-family: "PFDin", Arial, san-serif;
  font-size: 25px;
  color: #9bae3c;
  margin: 0px 0px 10px;
}
.one-section.health-section-4 .section-image-wrap .health-item p {
  line-height: 1.4;
  font-size: 18px;
  margin-top: 0px;
}
.one-section.health-section-4 .section-image-wrap .health-item:before {
  content: counter(health-counter);
  counter-increment: health-counter;
  position: absolute;
  width: 65px;
  height: 65px;
  background: url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/border-circle.png) 0 0 no-repeat;
  left: 30px;
  top: -20px;
  line-height: 66px;
  text-align: center;
  font-size: 40px;
  color: #FFF;
  font-weight: bold;
}
.one-section.health-section-4 .section-image-wrap .health-item:first-child {
  top: 235px;
  left: 0;
  padding-left: 120px;
}
.one-section.health-section-4 .section-image-wrap .health-item:nth-child(2) {
  bottom: 290px;
  width: 430px;
  padding-left: 120px;
}
.one-section.health-section-4 .section-image-wrap .health-item:nth-child(3) {
  top: 70px;
}
.one-section.health-section-4 .section-image-wrap .health-item:nth-child(4) {
  bottom: 315px;
}
.one-section.health-section-4 .section-image-wrap .health-item:nth-child(n+3) {
  right: 0;
  width: 390px;
  text-align: right;
  padding-right: 80px;
}
.one-section.health-section-4 .section-image-wrap .health-item:nth-child(n+3):before {
  left: auto;
  right: 0;
}
.one-section.health-section-4 .section-image-wrap .btn {
  right: 80px;
  position: absolute;
  bottom: 180px;
  font-family: 'Droid Serif', serif;
  font-style: italic;
  font-size: 21px;
  font-weight: 100;
}
.one-section.health-section-4 .section-image-wrap .btn:after {
  width: 16px;
  height: 18px;
  display: inline-block;
  background: url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/white-triangle.png) 0 0 no-repeat;
  content: '';
  margin-left: 12px;
}
.one-section.health-section-4 .section-image {
  display: block;
  margin: 0 auto;
}
.one-section.health-section-4 footer {
  position: absolute;
  left: 10px;
  bottom: 155px;
  width: 400px;
  font-size: 14px;
}
.one-section.dev-section-1 .section-wrap {
  padding-top: 160px;
  padding-bottom: 170px;
  position: relative;
}
.one-section.dev-section-1 .section-image {
  position: absolute;
  bottom: 0;
  left: -110px;
}
.one-section.dev-section-1 .section-ribbon {
  font-family: 'Droid Serif', serif;
  font-style: italic;
  color: #FFF;
  font-size: 20px;
  text-align: center;
  padding: 20px 210px 30px;
  width: 958px;
  height: 146px;
  background: url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/section-ribbon.png) 100% 0 no-repeat;
  display: flex;
  justify-content: center;
  align-items: stretch;
  align-items: center;
  position: relative;
  left: -100px;
}
.one-section.dev-section-2 {
  background: url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/can-bg.png) 0 0 repeat-x;
}
.one-section.dev-section-2 .section-wrap {
  padding-top: 125px;
  padding-bottom: 60px;
}
.one-section.dev-section-2 .section-image {
  position: absolute;
  right: 0;
  bottom: -90px;
}
.one-section.dev-section-2 .row {
  position: relative;
}
.one-section.dev-section-2 .dev-table-header {
  text-align: center;
  color: #FFF;
  font-weight: bold;
  margin: 40px 10px 13px;
}
.one-section.dev-section-2 .dev-table-header > .row {
  background: #9ab128;
}
.one-section.dev-section-2 .dev-table-header > .row > div:after {
  content: '';
  position: absolute;
  width: 60px;
  top: 0;
  bottom: 0;
  right: 0;
  background: url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/table-header-2.png) 0 0 no-repeat #f8f8f8;
}
.one-section.dev-section-2 .dev-table-header > .row > div:first-child:after {
  right: 7%;
  width: 21px;
  background: url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/table-header.png) 0 0 no-repeat;
}
.one-section.dev-section-2 .dev-table {
  padding: 0 10px 0 25px;
  background: #d1dba2;
  margin-bottom: 160px;
  counter-reset: section-counter;
}
.one-section.dev-section-2 .dev-table .dev-table-item {
  background: #d1dba2;
  min-height: 388px;
  padding: 15px 51px 15px 0;
  text-align: center;
  font-size: 15px;
  color: #FFF;
  font-weight: bold;
  position: relative;
}
.one-section.dev-section-2 .dev-table .dev-table-item:after {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 51px;
  background: url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/border-table.png) 0 0 no-repeat;
  content: '';
}
.one-section.dev-section-2 .dev-table .dev-table-item:last-child:after {
  background-image: url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/border-table-last.png);
}
.one-section.dev-section-2 .dev-table .dev-table-item:before {
  content: counter(section-counter);
  counter-increment: section-counter;
  width: 91px;
  height: 89px;
  background: url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/table-circle.png) 0 0 no-repeat;
  position: absolute;
  bottom: -120px;
  left: 20px;
  color: #d4e488;
  line-height: 85px;
  font-size: 58px;
  font-weight: bold;
}
.one-section.dev-section-2 .dev-table .dev-table-item h4 {
  font-size: 18px;
  color: #f86e47;
}
.one-section.dev-section-2 .dev-table .dev-table-item p {
  line-height: 1.3;
}
@media screen and (max-width: 767px) {
  .one-section.dev-section-2 .dev-table .dev-table-item:before {
    background-size: 100% auto;
    font-size: 36px;
    width: 57px;
    height: 56px;
    line-height: 59px;
  }
}
.one-section.dev-section-3 {
  background: transparent right bottom no-repeat;
  background-size: cover;
}
.one-section.dev-section-3 .section-wrap {
  padding-top: 75px;
  padding-bottom: 500px;
}
.one-section.dev-section-4 {
  background: url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/development-gradient.jpg) 0 0 no-repeat;
  background-size: 100% auto;
}
.one-section.dev-section-4 .section-wrap {
  padding-top: 80px;
  padding-bottom: 70px;
}
.one-section.dev-section-4 .section-ribbon {
  font-family: 'Droid Serif', serif;
  font-style: italic;
  color: #FFF;
  font-size: 24px;
  text-align: left;
  padding: 30px 380px 20px 55px;
  width: 924px;
  height: 146px;
  background: url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/section-ribbon-2.png) 100% 0 no-repeat;
  position: relative;
  left: -20px;
  margin-top: 30px;
}
.one-section.dev-section-4 .list-items {
  font-size: 14px;
  margin-right: 25px;
  margin-top: -25px;
}
.one-section.dev-section-4 .list-items .item {
  margin-bottom: 20px;
}
.one-section.dev-section-4 .list-items .item h5 {
  margin: 25px 0 0;
  font-size: 18px;
}
.one-section.dev-section-4 .list-items .item p {
  line-height: 1.3;
  margin: 5px 0 0;
}
.one-section.dev-section-5 {
  background-color: #fbfefe;
}
.one-section.dev-section-5 .section-wrap {
  padding-top: 90px;
}
.one-section.dev-section-5 .product-development-graph {
  margin-left: -40px;
}
.one-section.dev-section-5 .product-development-graph .slides {
  background: url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/product-development-graph/State-00.png) 0 0 no-repeat;
  background-size: 100% auto;
}
.one-section.dev-section-5 .product-development-graph .slides li {
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  -ms-transition: opacity 1s;
  transition: opacity 1s;
}
.one-section.dev-section-5 .product-development-graph img {
  max-width: 100%;
  height: auto;
}
.one-section.customer-section-1 {
  font-size: 22px;
  padding-top: 160px;
}
.one-section.customer-section-1 .section-wrap {
  position: relative;
  padding-bottom: 20px;
}
.one-section.customer-section-1 .section-ribbon {
  font-family: 'Droid Serif', serif;
  font-style: italic;
  color: #FFF;
  font-size: 24px;
  text-align: center;
  padding: 20px 120px 20px 320px;
  width: 958px;
  height: 201px;
  background: url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/section-ribbon-4.png) 100% 0 no-repeat;
  position: relative;
  left: -215px;
  margin-bottom: 20px;
}
.one-section.customer-section-1 .section-image {
  position: absolute;
  left: -70px;
  bottom: 0;
}
.one-section.customer-section-1 h2 {
  font-size: 40px;
}
.one-section.customer-section-1 h4 {
  font-family: "Gothic", Arial;
  font-size: 30px;
  font-weight: 400;
}
.one-section.customer-section-1 a,
.one-section.customer-section-1 a:hover,
.one-section.customer-section-1 a:focus,
.one-section.customer-section-1 a:active {
  color: #f86e47;
  text-decoration: underline;
}
.one-section.customer-section-2 {
  font-size: 22px;
  padding-top: 60px;
  background: url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/can-bg.png) 0 0 repeat-x;
}
.one-section.customer-section-2 .section-wrap {
  position: relative;
}
.one-section.customer-section-2 .section-image {
  position: relative;
  float: right;
  margin-top: -60px;
  bottom: 0;
}
.one-section.customer-section-2 p {
  font-size: large;
}
.one-section.customer-section-2 ul {
  padding: 0px 20px;
  font-size: 18px;
}
.one-section.customer-section-3 {
  font-size: 22px;
  padding-top: 147px;
  background: url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/cus-bg.png) 0 0 repeat-x;
}
.one-section.customer-section-3 .section-wrap {
  position: relative;
}
.one-section.customer-section-3 .section-image {
  position: relative;
  left: -40px;
  top: -45px;
  bottom: 0;
  padding-bottom: 30px;
}
.one-section.customer-section-3 .section-image:last-child {
  padding-bottom: 0px;
}
.one-section.customer-section-3 p {
  font-size: large;
}
.one-section.customer-section-3 ul {
  padding: 0px 15px;
  font-size: 18px;
}
.one-section.customer-section-3 li {
  padding: 5px 0px;
}
.one-section.customer-section-4 {
  font-size: 22px;
  padding-top: 100px;
  background: url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/can-bg.png) 0 0 repeat-x;
}
.one-section.customer-section-4 .section-wrap {
  position: relative;
}
.one-section.customer-section-4 .section-image {
  position: relative;
  float: right;
  margin-top: -40px;
  bottom: 0;
}
.one-section.customer-section-4 p {
  font-size: large;
}
.one-section.customer-section-4 ul {
  padding: 0px 20px;
  font-size: 18px;
}
.one-section.customer-section-4 li {
  padding: 5px 0px;
}
.one-section.customer-section-5 {
  font-size: 22px;
  padding-top: 90px;
  background: url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/cus-bg-2.png) 0 0 repeat-x;
}
.one-section.customer-section-5 .section-wrap {
  position: relative;
  padding-bottom: 20px;
}
.one-section.customer-section-5 .section-ribbon {
  font-family: 'Droid Serif', serif;
  font-style: italic;
  color: #FFF;
  font-size: 36px;
  text-align: center;
  padding: 20px 180px 20px 246px;
  width: 1175px;
  height: 201px;
  background: url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/section-ribbon-4.png) 100% 0 no-repeat;
  display: flex;
  justify-content: center;
  align-items: stretch;
  align-items: center;
  position: relative;
  left: -794px;
  margin: 20px;
}
.one-section.customer-section-5 .section-ribbon p {
  line-height: 1.3;
}
.one-section.customer-section-5 .section-image:first-child {
  position: relative;
  margin-left: -240px;
  margin-top: -98px;
  margin-bottom: -100px;
}
.one-section.customer-section-5 .section-image:last-child {
  position: relative;
  margin-left: -50px;
}
.one-section.customer-section-5 .image-title {
  color: #f86e47;
  display: flex;
  justify-content: center;
  align-items: stretch;
  font-size: 28px;
  font-weight: bold;
  line-height: 1.35;
  margin-left: -168px;
}
.one-section.customer-section-5 h2 {
  font-size: 40px;
}
.one-section.customer-section-5 ul {
  padding: 0px 18px;
}
.one-section.careers-section-1 {
  background: url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/cus-bg-2.png) 0 0 repeat-x;
  margin-top: -35px;
}
.one-section.careers-section-1 .section-wrap {
  padding-top: 126px;
}
.one-section.careers-section-1 .section-wrap p {
  font-size: 22px;
}
.one-section.careers-section-1 .section-ribbon {
  font-family: 'Droid Serif', serif;
  font-style: italic;
  color: #FFF;
  text-align: right;
  padding: 8px 250px 20px 198px;
  width: 924px;
  height: 146px;
  background: url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/section-ribbon-2.png) 100% 0 no-repeat;
  position: relative;
  left: -20px;
}
.one-section.careers-section-1 .section-ribbon .subscript {
  font-size: 16px;
  margin-top: -35px;
}
.one-section.careers-section-1 .section-ribbon p {
  font-size: 32px;
}
.one-section.careers-section-1 .section-subhead {
  margin: 56px 0px;
}
.one-section.careers-section-1 .section-image {
  position: relative;
  padding-top: 50px;
  bottom: -46px;
  right: -40px;
}
.one-section.careers-section-1 h2.section-title {
  font-size: 54px;
}
.one-section.careers-section-1 h2 {
  font-size: 40px;
}
.one-section.careers-section-2 {
  padding-top: 95px;
  background: url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/can-bg.png) 0 0 repeat-x;
}
.one-section.careers-section-2 .section-wrap {
  position: relative;
  text-align: right;
  margin-bottom: 45px;
}
.one-section.careers-section-2 .section-image {
  position: relative;
  float: right;
  margin-top: 60px;
  bottom: 0;
  left: 70px;
}
.one-section.careers-section-2 b {
  font-size: 30px;
}
.one-section.careers-section-2 p {
  font-size: 22px;
}
.one-section.careers-section-2 strong {
  color: #797f84;
}
.one-section.careers-section-3 {
  padding-top: 95px;
  background: url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/careers-bg.png) 0 0 repeat-x;
}
.one-section.careers-section-3 .section-wrap {
  position: relative;
  text-align: left;
  margin-bottom: 45px;
}
.one-section.careers-section-3 .section-ribbon {
  font-family: 'Droid Serif', serif;
  font-style: italic;
  color: #FFF;
  font-size: 28px;
  text-align: right;
  padding: 0px 340px 0 80px;
  width: 924px;
  height: 146px;
  background: url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/section-ribbon-2.png) 100% 0 no-repeat;
  position: absolute;
  top: 577px;
}
.one-section.careers-section-3 .section-ribbon .subscript {
  font-size: 16px;
}
.one-section.careers-section-3 .section-ribbon p {
  line-height: 1.2;
  margin: .8em 0 .2em;
}
.one-section.careers-section-3 .section-image {
  position: relative;
  float: right;
  margin-top: -40px;
  bottom: 0;
  left: 10px;
}
.one-section.careers-section-3 b {
  font-size: 30px;
}
.one-section.careers-section-3 .section-image-2 {
  position: relative;
  top: 40px;
}
.one-section.careers-section-3 .section-list {
  position: relative;
}
.one-section.careers-section-3 .section-list h4 {
  font-family: "PFDin", Arial, san-serif;
  font-style: normal;
  padding-top: 8px;
  font-weight: 600;
}
.one-section.careers-section-3 .section-list li {
  margin-left: 52px;
  margin-right: 15px;
}
.one-section.careers-section-3 a,
.one-section.careers-section-3 a:hover,
.one-section.careers-section-3 a:focus,
.one-section.careers-section-3 a:active {
  color: #f86e47;
  text-decoration: none;
}
.one-section.careers-section-4 {
  padding-top: 108px;
  background: url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/careers-bg-2.png) 0 0 repeat-x;
}
.one-section.careers-section-4 .section-wrap {
  position: relative;
  text-align: left;
  margin-bottom: 45px;
}
.one-section.careers-section-4 .section-image {
  position: relative;
  float: right;
  margin-top: -10px;
  bottom: 10px;
}
.one-section.careers-section-4 h4.section-subhead {
  margin: 0px 0px;
}
.one-section.careers-section-4 b {
  font-size: 30px;
}
.one-section.careers-section-4 ul {
  color: #f86e47;
  padding-left: 18px;
  margin-top: 36px;
}
.one-section.careers-section-4 h2 {
  font-family: "PFDin", Arial, san-serif;
  font-weight: 600;
}
.one-section.careers-section-4 li {
  margin-bottom: 6px;
}
.one-section.careers-section-5 {
  padding-top: 104px;
  background: url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/can-bg-2.jpg) 0 0 repeat-x;
}
.one-section.careers-section-5 .section-wrap {
  position: relative;
  text-align: left;
  margin-bottom: 45px;
}
.one-section.careers-section-5 .section-image {
  position: relative;
  float: right;
  margin-top: -10px;
  bottom: 10px;
}
.one-section.careers-section-6 {
  padding-top: 104px;
  background: none;
}
.one-section.careers-section-6 .section-wrap {
  position: relative;
  text-align: left;
  margin-bottom: 45px;
}
.one-section.careers-section-6 .section-image {
  position: relative;
  float: right;
  margin-top: -10px;
  bottom: 10px;
}
.one-section.supplier-section-1 {
  font-size: 22px;
  padding-top: 80px;
  background: url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/supp-bg.png) 0 0 repeat-x;
  margin-top: -36px;
}
.one-section.supplier-section-1 .section-wrap {
  position: relative;
  padding-bottom: 20px;
}
.one-section.supplier-section-1 .section-image {
  position: relative;
  bottom: 0;
  margin-bottom: 30px;
  max-width: 95%;
  height: auto;
}
.one-section.supplier-section-1 .row:first-child {
  margin-bottom: 240px;
}
.one-section.supplier-section-1 h2.section-head {
  margin-top: 40px;
}
@media screen and (max-width: 991px) {
  .one-section.supplier-section-1 .row:first-child {
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 767px) {
  .one-section.supplier-section-1 {
    margin-top: 0;
    padding-top: 30px;
    font-size: 16px;
  }
  .one-section.supplier-section-1 .row:first-child {
    margin-bottom: 0;
  }
}
.one-section.vendors-section-1 {
  font-size: 22px;
  padding-top: 80px;
  background: url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/supp-bg.png) 0 0 repeat-x;
  margin-top: -36px;
}
.one-section.vendors-section-1 .section-wrap {
  position: relative;
  padding-bottom: 20px;
}
.one-section.vendors-section-1 .section-image {
  position: relative;
  bottom: 0;
  margin-bottom: 35px;
}
.one-section.vendors-section-1 a,
.one-section.vendors-section-1 a:hover,
.one-section.vendors-section-1 a:focus,
.one-section.vendors-section-1 a:active {
  color: #f86e47;
  font-weight: 400;
  text-decoration: underline;
}
.one-section.vendors-section-2 {
  font-size: 22px;
}
.one-section.vendors-section-2 .section-wrap {
  position: relative;
  padding-bottom: 20px;
}
.one-section.vendors-section-2 .download {
  background: url("http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/orange-triangle.png") no-repeat scroll 0 0 rgba(0,0,0,0);
  height: 7px;
  width: 10px;
  vertical-align: middle;
  margin-left: 10px;
  display: inline-block;
}
.one-section.vendors-section-2 .download-list > div:nth-child(odd) {
  clear: left;
}
.one-section.vendors-section-2 .download-list h3 {
  color: #67b3ba;
  font-weight: bold;
  font-family: "PFDin", Arial, san-serif;
}
.one-section.vendors-section-2 .download-list dl {
  margin-bottom: 80px;
}
.one-section.vendors-section-2 .download-list dd {
  font-weight: bold;
  font-size: 14px;
  padding: 5px 0px;
  color: #a0a4a7;
}
.one-section.vendors-section-2 .download-list a {
  color: #f86e47;
  text-decoration: none;
}
.one-section.client-downloads-section-1 {
  font-size: 22px;
  padding: 70px 0px;
  margin-top: -36px;
  background: url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/cus-bg.png) 0 0 repeat-x;
}
.one-section.client-downloads-section-1 .section-wrap {
  position: relative;
  padding-bottom: 20px;
}
.one-section.client-downloads-section-1 .section-image {
  position: relative;
  bottom: 0;
  top: -20px;
}
.one-section.client-downloads-section-1 h2 {
  font-size: 40px;
}
.one-section.client-downloads-section-1 p {
  font-size: 20px;
}
.one-section.cooking-section-1 .section-wrap {
  padding-bottom: 80px;
}
.one-section.cooking-section-1 .toptab-section {
  position: relative;
  left: -60px;
}
.one-section.cooking-section-1 .toptab-content {
  max-width: 640px;
  margin: 0 auto 30px;
  text-align: center;
}
.one-section.cooking-section-1 .arrow-section-h {
  margin-bottom: 15px;
}
.one-section.cooking-section-1 .arrow-section-h .a-title {
  width: 205px;
  margin-right: 0;
}
.one-section.cooking-section-1 .arrow-section-h .a-title h1 {
  color: #282c30;
  font-weight: normal;
}
.one-section.cooking-section-1 .toptab {
  float: left;
  position: relative;
  left: -60px;
  margin-bottom: 60px;
  margin-top: 40px;
}
.one-section.cooking-section-1 .video-item {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 30px;
}
.one-section.cooking-section-1 .video-item a {
  text-decoration: none;
  text-align: center;
}
.one-section.cooking-section-1 .video-item a,
.one-section.cooking-section-1 .video-item a:focus {
  outline: none;
}
.one-section.cooking-section-1 .video-item a .video-title {
  max-width: 270px;
  display: block;
  font-weight: bold;
  font-size: 22px;
  color: #67b3ba;
  margin: 0 auto 10px;
  line-height: 1.3;
}
.one-section.cooking-section-1 .video-item a img {
  width: 100%;
  height: auto;
  display: block;
}
.one-section.cooking-section-1 .video-item a .video-source {
  display: block;
  font-size: 16px;
  font-weight: bold;
  background: #67b3ba;
  color: #FFF;
  padding: 5px;
}
.one-section.loc-section-1 {
  padding-top: 35px;
  margin-top: -35px;
  background: url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/page-bg.jpg) 0 0 repeat-x;
}
.one-section.loc-section-1 .section-wrap {
  padding-bottom: 120px;
  padding-top: 20px;
}
.one-section.loc-section-1 .section-head {
  margin-top: 35px;
}
.one-section.loc-section-1 #loc-accordion .panel {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0 none;
  overflow: visible;
}
.one-section.loc-section-1 #loc-accordion .panel-title {
  color: #FFF;
  font-size: 24px;
  width: 870px;
  height: 33px;
  line-height: 33px;
  background: url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/top-tab-loc.png) 0 0 no-repeat;
  padding: 0 385px 0 194px;
  text-align: center;
}
.one-section.loc-section-1 #loc-accordion .panel-title > a {
  text-decoration: none;
}
.one-section.loc-section-1 #loc-accordion .place-panel {
  min-height: 200px;
}
.one-section.loc-section-1 #loc-accordion h5 {
  margin: 0;
}
.one-section.loc-section-1 #loc-accordion p {
  font-size: 18px;
  margin: 0;
}
.one-section.loc-section-1 #loc-accordion .panel-heading {
  padding: 0;
  margin-bottom: 50px;
  position: relative;
  left: -100px;
}
.one-section.loc-section-1 #loc-accordion .panel-heading + .panel-collapse .panel-body {
  border: 0 none;
}
.one-section.loc-section-2 {
  background: url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/careers-bg.png) repeat-x 0 0;
}
.one-section.loc-section-2 .section-wrap {
  padding-top: 95px;
  padding-bottom: 85px;
  position: relative;
}
.one-section.loc-section-2 .list-items {
  padding: 0;
  list-style: none;
}
.one-section.loc-section-2 .list-items li {
  max-width: 570px;
  height: 73px;
  position: relative;
  margin-bottom: 15px;
}
.one-section.loc-section-2 .list-items li a {
  position: relative;
  z-index: 1;
  display: block;
  line-height: 73px;
  color: #FFF;
  text-decoration: none;
  padding: 0 0 0 25px;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: bold;
}
.one-section.loc-section-2 .list-items li a:after {
  content: '';
  width: 17px;
  height: 17px;
  display: inline-block;
  background: url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/list-tri.png) 0 0 no-repeat;
  margin-left: 15px;
}
.one-section.loc-section-2 .list-items li:after {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/list-bg.png) 100% 0 no-repeat;
  content: '';
}
.one-section.loc-section-2 .list-items li:nth-child(n+2):after {
  opacity: .9;
}
.one-section.loc-section-2 .list-items li:nth-child(n+3):after {
  opacity: .78;
}
.one-section.loc-section-2 .list-items li:nth-child(n+4):after {
  opacity: .65;
}
.one-section.loc-section-2 .list-items li:nth-child(n+5):after {
  opacity: .52;
}
.one-section.loc-section-2 .list-items li:nth-child(n+6):after {
  opacity: .39;
}
.one-section.loc-section-2 .list-items li:nth-child(n+7):after {
  opacity: .26;
}
.one-section.loc-section-2 .section-image {
  position: absolute;
  bottom: 115px;
  left: -150px;
}
.one-section.loc-section-3 {
  background: url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/careers-bg-2.png) 0 0 repeat-x #FAFAFA;
}
.one-section.loc-section-3 .section-wrap {
  padding-top: 90px;
  padding-bottom: 85px;
}
.one-section.loc-section-3 .row {
  position: relative;
}
.one-section.loc-section-3 .contentfirst {
  position: relative;
  z-index: 1;
}
.one-section.loc-section-3 .section-image {
  position: absolute;
  right: 0;
  top: -90px;
}
.one-section.loc-section-3 h3.section-subhead4 {
  font-weight: 600;
  font-size: 25px;
}
.one-section.loc-section-3 .employee-list {
  margin-top: 100px;
  text-align: center;
}
.one-section.loc-section-3 .employee-list .employee {
  margin-bottom: 80px;
}
.one-section.loc-section-3 .employee-list h4,
.one-section.loc-section-3 .employee-list h5 {
  font-family: "PFDin", Arial, san-serif;
}
.one-section.loc-section-3 .employee-list h4 {
  font-size: 24px;
  color: #f86e47;
  margin: 0;
  font-weight: 600;
}
.one-section.loc-section-3 .employee-list h5 {
  font-size: 16px;
  color: #70c2ca;
  margin: 5px 0 1em;
}
.one-section.loc-section-3 .employee-list .avatar {
  padding: 11px;
  background: #d7eef1;
  display: inline-block;
  border: 5px solid;
  border-color: #e9f5f7 #bee2e7 #bee2e7 #e9f5f7;
  position: relative;
}
.one-section.loc-section-3 .employee-list .avatar a {
  background: #e9552a;
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
  position: absolute;
  left: 40px;
  right: 40px;
  bottom: -20px;
  line-height: 31px;
  font-size: 14px;
  font-weight: bold;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  background-clip: padding-box;
}
.one-section.loc-section-3 .employee-list .description {
  max-width: 285px;
  margin: 0 auto;
  background: #f8f8f8;
  padding: 30px 10px 10px;
  line-height: 1.3;
  text-align: left;
  display: none;
}
.one-section.loc-section-4 {
  background: #b4cac3;
}
.one-section.loc-section-4 .section-wrap {
  padding-top: 150px;
  padding-bottom: 160px;
  position: relative;
}
.one-section.loc-section-4 .contentlink a {
  color: #f86e47;
  font-weight: 400;
  text-decoration: none;
}
.one-section.loc-section-4 .contentlink a:after {
  display: inline-block;
  width: 9px;
  height: 12px;
  background: url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/link-tri.png) 0 0 no-repeat;
  content: '';
  margin-left: 10px;
}
.one-section.loc-section-4 .section-image {
  position: absolute;
  bottom: 0;
  left: 0;
}
@media screen and (max-width: 767px) {
  .one-section.dev-section-2,
  .one-section.dev-section-5 {
    background: none !important;
  }
  .one-section.can-section-2 .section-wrap,
  .one-section.can-section-4 .section-wrap,
  .one-section.end-section-3 .section-wrap,
  .one-section.end-section-2 .section-wrap,
  .one-section.dev-section-2 .section-wrap,
  .one-section.dev-section-5 .section-wrap {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .one-section.dev-section-2 .section-image,
  .one-section.can-section-1 .section-image,
  .one-section.end-section-1 .section-image {
    display: none;
  }
  .one-section.dev-section-5 .product-development-graph {
    margin-left: auto;
  }
}
.tooltip-wrapper {
  position: relative;
  text-align: center;
}
.tooltip-wrapper .tooltip-container {
  display: inline-block;
  position: relative;
  vertical-align: top;
  max-width: 100%;
}
.tooltip-wrapper .tooltip-container img {
  max-width: 100%;
}
.tooltip-wrapper .tooltip-hidden {
  display: none;
}
.tooltip-wrapper a {
  position: absolute;
  left: 0;
  top: 0;
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
  width: 58px;
  height: 58px;
  border: 3px transparent solid;
  -webkit-box-shadow: 0 0 0 3px #FF6E49;
  box-shadow: 0 0 0 3px #FF6E49;
  background-color: #ff6e49;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-clip: padding-box;
  -webkit-animation: .5s ease 0s alternate none infinite tooltip-pin;
  -moz-animation: .5s ease 0s alternate none infinite tooltip-pin;
  -ms-animation: .5s ease 0s alternate none infinite tooltip-pin;
  -o-animation: .5s ease 0s alternate none infinite tooltip-pin;
  animation: .5s ease 0s alternate none infinite tooltip-pin;
}
@-webkit-keyframes tooltip-pin {
  from {
    -webkit-box-shadow: 0 0 0 3px rgba(255,110,73,0);
    box-shadow: 0 0 0 3px rgba(255,110,73,0);
  }
  to {
    -webkit-box-shadow: 0 0 0 3px #ff6e49;
    box-shadow: 0 0 0 3px #ff6e49;
  }
}
@keyframes tooltip-pin {
  from {
    -webkit-box-shadow: 0 0 0 3px rgba(255,110,73,0);
    box-shadow: 0 0 0 3px rgba(255,110,73,0);
  }
  to {
    -webkit-box-shadow: 0 0 0 3px #ff6e49;
    box-shadow: 0 0 0 3px #ff6e49;
  }
}
.page-header {
  padding: 0;
  border: 0 none;
  margin: 0;
}
.gallery-row {
  padding: 15px 0;
}
.sitemap {
  margin: 40px 0 180px;
}
.sitemap h3 {
  font-family: "PFDin", Arial, san-serif;
  font-size: 30px;
  font-weight: 600;
}
.sitemap h3 a {
  color: #f86e47;
}
.sitemap p {
  margin: 0 0 8px 25px;
}
.sitemap p a {
  font-size: 22px;
  color: #797f84;
  font-weight: 600;
}
.contactform {
  background: #d3e4e6;
  padding: 50px 40px 30px 20px;
  max-width: 900px;
  margin: 40px 0;
}
.contactform label {
  text-align: right;
  padding-right: 0;
  font-size: 12px;
  margin: 5px 0 0;
}
.contactform .form-group {
  margin-bottom: 5px;
}
.contactform .submit-p {
  text-align: right;
}
.qtip {
  max-width: 320px;
}
.qtip-default {
  background: #c9dd2c;
  border-color: #c9dd2c;
  font-family: "PFDin", Arial, san-serif;
  font-size: 18px;
  line-height: 1.3;
  color: #282c30;
}
.qtip-default .qtip-titlebar {
  background: transparent;
  font-size: 18px;
  text-transform: uppercase;
  padding: 15px 35px 5px 15px;
}
.qtip-default .qtip-titlebar .qtip-close {
  border: 0 none;
  background: transparent;
  font-size: 24px;
  color: #dbf633;
  text-decoration: none;
}
.qtip-default .qtip-content {
  padding: 5px 20px 5px 9px;
}
.qtip-default ul {
  padding-left: 1.2em;
}
.qtip-default ul li {
  color: #ff5418;
}
.qtip-default ul li > span {
  color: #282c30;
}
.tribe-bar-disabled,
.tribe-events-page-title {
  display: none;
}
#tribe-events-content-wrapper {
  max-width: 580px;
  margin: 0 auto;
}
.events-archive.events-gridview #tribe-events-content {
  margin-bottom: 0;
}
.events-archive.events-gridview #tribe-events-content table.tribe-events-calendar {
  font-size: 11px;
  color: #2e2725;
  border: 0 none;
  font-family: "PFDin", Arial, san-serif;
  background: #d3e4e6;
}
.events-archive.events-gridview #tribe-events-content table.tribe-events-calendar th,
.events-archive.events-gridview #tribe-events-content table.tribe-events-calendar td {
  font-weight: normal;
  border: solid 4px #FFF;
}
.events-archive.events-gridview #tribe-events-content table.tribe-events-calendar th div[id*="tribe-events-daynum-"],
.events-archive.events-gridview #tribe-events-content table.tribe-events-calendar td div[id*="tribe-events-daynum-"] {
  font-size: 18px;
  font-weight: bold;
  padding: 6px;
}
.events-archive.events-gridview #tribe-events-content table.tribe-events-calendar th div[id*="tribe-events-daynum-"] a,
.events-archive.events-gridview #tribe-events-content table.tribe-events-calendar td div[id*="tribe-events-daynum-"] a {
  font-size: 18px;
  font-weight: bold;
}
.events-archive.events-gridview #tribe-events-content table.tribe-events-calendar th a,
.events-archive.events-gridview #tribe-events-content table.tribe-events-calendar td a {
  font-size: 10px;
  font-weight: 300;
  text-decoration: none;
  display: block;
  line-height: 1.3;
  font-family: "PFDin", Arial, san-serif;
  color: #2e2725;
}
.events-archive.events-gridview #tribe-events-content table.tribe-events-calendar td {
  height: 78px;
}
.events-archive.events-gridview #tribe-events-content table.tribe-events-calendar .vevent {
  padding: 0;
}
.events-archive.events-gridview #tribe-events-content #tribe-events-header,
.events-archive.events-gridview #tribe-events-content #tribe-events-footer {
  font-size: 11px;
}
.events-archive.events-gridview #tribe-events-content .tribe-events-sub-nav {
  padding: 0;
}
.events-archive.events-gridview #tribe-events-content .tribe-events-sub-nav a {
  color: #2e2725;
}
.events-archive.events-gridview #tribe-events-content .tribe-events-notices {
  font-size: 12px;
  padding: .3em .6em;
  margin: 0 0 .5em;
}
.events-archive.events-gridview #tribe-events-content .tribe-events-tooltip h4.entry-title {
  font-family: "PFDin", Arial, san-serif;
}
.hentry {
  margin: 75px 0;
}
.hentry .entry-content {
  color: #797f84;
  font-size: 17px;
}
.hentry .entry-content h3 {
  color: #70c1c8;
}
.hentry .entry-content a:not(.btn) {
  color: #a2b700;
  text-decoration: underline;
}
@media screen and (max-width: 767px) {
  .hentry .entry-content {
    font-size: 16px;
  }
}
.post-summary {
  margin: 0;
  border-top: 1px solid #797f84;
  padding: 0 0 35px;
}
.post-summary .entry-title {
  color: #f86e47;
  font-size: 20px;
}
.post-summary .entry-summary {
  font-size: 20px;
}
.post-summary .published {
  font-weight: bold;
  color: #797f84;
  text-transform: uppercase;
  font-size: 20px;
}
.use-as-feature-image {
  margin-top: 180px;
}
.landing-entry {
  margin: 150px 0 65px;
}
.landing-entry .carouselslider {
  margin: 105px 0 65px;
  position: relative;
}
.landing-entry .carouselslider .slides li {
  display: inline;
  margin: 0 20px 0 0;
}
.landing-entry .carouselslider .flex-viewport a {
  display: block;
}
.landing-entry .carouselslider .flex-viewport img {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 767px) {
  .landing-entry {
    margin-top: 25px;
  }
  .landing-entry .carouselslider {
    margin: 30px;
  }
}
figure img {
  max-width: 100%;
  height: auto;
  width: 100%;
}
.cans-cooking-entry {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
.cans-cooking-entry .wp-post-image {
  margin-top: -110px;
}
.cans-cooking-entry .entry-content .btn,
.cans-cooking-entry .entry-content .alignnone {
  margin-right: 20px;
}
.content-info {
  background: #6d7479;
  padding: 35px 0;
  color: #b4bbc1;
  font-size: 13px;
}
.content-info a {
  color: #FFF;
}
.content-info p {
  font-family: "PFDin", Arial, san-serif;
}
.content-info .sep {
  margin: 0 5px;
}
.content-info .copyright {
  text-align: right;
}
.content-info .navbar-nav {
  margin: 0 0 10px;
}
.content-info .navbar-nav > li {
  margin-right: 25px;
}
.content-info .navbar-nav > li > a {
  padding: 0;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  font-family: "PFDin", Arial, san-serif;
  letter-spacing: 2px;
}
.content-info .navbar-nav > li.active > a,
.content-info .navbar-nav > li.active > a:hover,
.content-info .navbar-nav > li:hover > a,
.content-info .navbar-nav > li:hover > a:hover,
.content-info .navbar-nav > li.open > a,
.content-info .navbar-nav > li.open > a:hover {
  background: transparent;
}
@media screen and (max-width: 767px) {
  .content-info p {
    text-align: center;
  }
}
.aligncenter {
  display: block;
  margin: 0 auto;
}
.alignleft {
  float: left;
}
.alignright {
  float: right;
}
figure.alignnone {
  margin-left: 0;
  margin-right: 0;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.flexstart {
  justify-content: flex-start;
}
.flexaligncenter {
  align-items: center;
}
.r-image {
  max-width: 100%;
  height: auto;
}
.clear {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.educational-tools .toptab {
  margin-bottom: 80px;
}
.educational-tools iframe {
  margin-bottom: 110px;
}
.educational-tools h4.section-subhead4 {
  margin-bottom: 35px;
}
.can-vision .section-ribbon {
  font-family: 'Droid Serif', serif;
  font-style: italic;
  color: #FFF;
  font-size: 20px;
  text-align: center;
  padding: 25px 280px 20px 80px;
  width: 924px;
  height: 146px;
  background: url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/section-ribbon-2.png) 100% 0 no-repeat;
  position: relative;
  left: -20px;
  margin-top: 30px;
}
.events-archive .banner.navbar-default,
.events-archive .content-info,
.events-archive #tribe-mobile-container {
  display: none;
}
.events-archive .body {
  padding: 0;
}
.about-us .body {
  background-position: left;
  background-size: 40% auto;
}
@media screen and (max-width: 1200px) {
  .about-us .body {
    background-position: left;
    background-size: contain;
  }
}
.products .body h1:first-child {
  display: none;
}
.silgan-u .body {
  background-position: left top;
  background-size: 45% auto;
  padding-top: 0px;
}
.silgan-u .silgan-big-u {
  display: inline-block;
  background: url(http://silgan.uptowncreativeinc.com/wp-content/themes/silgan/assets/less/../img/silgan-U.png) 0 0 no-repeat;
  width: 51px;
  height: 58px;
  vertical-align: bottom;
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
@media screen and (max-width: 1200px) {
  .silgan-u .body {
    background-position: left;
    background-size: contain;
  }
}
.fat-or-fit p {
  font-size: 14px;
}
.cans-get-you-cooking .hentry .entry-content a:not(.btn) {
  text-decoration: none;
  color: #ff4211;
}
.cans-get-you-cooking .body {
  background-position: left top;
  background-size: 45% auto;
  padding-top: 0px;
}
@media screen and (max-width: 1200px) {
  .cans-get-you-cooking .body {
    background-position: left;
    background-size: contain;
  }
}
.cans-get-you-cooking h5 {
  font-family: "Gothic", Arial;
  font-weight: normal;
  font-size: 26px;
}
.cans-get-you-cooking .a-title h1 {
  font-family: "PFDin", Arial, san-serif;
}
.services .body {
  background-position: left top;
  background-size: 45% auto;
  padding-top: 0px;
}
@media screen and (max-width: 1200px) {
  .services .body {
    background-position: left;
    background-size: contain;
  }
}
.new-product-development-technology .dev-section-1 h1 {
  font-size: 54px;
}
.new-product-development-technology .dev-section-2 b {
  color: #9bae3c;
  font-weight: 400;
}
.new-product-development-technology .dev-section-2 .dev-table-header {
  font-weight: 400;
}
.new-product-development-technology .dev-section-2 .dev-table h4 {
  font-family: "PFDin", Arial, san-serif;
  font-weight: 600;
}
.new-product-development-technology .dev-section-2 .dev-table p {
  font-weight: 400;
}
.new-product-development-technology .dev-section-5 h3.section-subhead3 {
  font-family: "PFDin", Arial, san-serif;
  font-weight: 600;
}
.panel-group h4.panel-title {
  font-family: "PFDin", Arial, san-serif;
  font-weight: 600;
}
.panel-group .place-panel {
  font-weight: 600;
}
.news-events .published {
  font-weight: 400;
}
.news-events .entry-title {
  font-family: "PFDin", Arial, san-serif;
}
.forms .btn-right-corner {
  font-family: 'Droid Serif', serif;
  font-style: italic;
}
