/*!
 * Roots 6.5.2
 */

@import url(../css/jquery.share.css);
@import url(prefixer.less);

@blue: #245AA4;
@gyan: #70c1c8; 
@green: #a2b700;

/* ==========================================================================
	Base
	========================================================================== */

html { background: #6d7479; }

body { font-size: 14px; .hfam(); }

p { font-size: inherit; }

a, a:visited, a:focus, a:active { outline: 0 none; }

h1, h2, h3, h4, h5, h6 { margin: 1em 0 .4em; line-height: 1.15; .hfam();
	&:first-child { margin-top: 0; }
	& + & { margin-top: .5em; }
}

h1 { font-size: 34px; }
h2 { font-size: 30px; }
h3 { font-size: 28px; }
h4 { font-size: 20px; }
h5 { font-size: 18px; }
h6 { text-transform: uppercase; font-size: 1em; .san(); }

p { line-height: 1.4; margin: .8em 0 1em; }

b { font-weight: 600; }

iframe { display: block; }

strong { font-weight: 600; color: #899f00;}

label { font-weight: normal; }
.form-control { .border-radius(0); }




.droid() { font-family: 'Droid Serif', serif; font-style: italic; }
// .hfam() { font-family: "din-condensed-web-1", "din-condensed-web-2", Arial; }
// .san() { font-family: "proxima-nova-1","proxima-nova-2", Arial, san-serif; }
.hfam() { font-family: "Gothic", Arial; }
.san() { font-family: "PFDin", Arial, san-serif; }
.font_reset() { font-family: 'Helvetica', Arial, san-serif; }


.btn {
	&, &:hover, &:focus { color: #FFF; text-transform: uppercase; background: #f86e47; font-family: Helvetica, Arial, san-serif; font-weight: bold; .border-radius(0); text-shadow: 1px 1px 1px rgba(0, 0, 0, .4); .box-shadow(1px 1px 2px rgba(0, 0, 0, .2)); border-color: #f86e47; }
}







.myshare {
	.share-icon { margin: 0; vertical-align: middle;
		&.share-icon-facebook { height: 22px; background: url(../img/social-share.png) 0 0 no-repeat; width: 66px; margin: 0 2px; }
		&.share-icon-twitter { height: 22px; background: url(../img/social-share.png) -74px 0 no-repeat; width: 66px; margin: 0 2px; }
		&.share-icon-email { height: 22px; background: url(../img/social-share.png) -149px 0 no-repeat; width: 66px; margin: 0 2px; }
	}
}








.btn {
	&.btn-right-corner { font-size: 20px; font-weight: normal; text-transform: none; background: #ff7754; color: #FFF; .border-radius(0); border: 4px solid; border-color: #ff9b81 #e33b0f #e33b0f #ff9b81 ; .box-shadow(3px 3px 5px rgba(0, 0, 0, .11)); margin: 0px 16px 30px 0px; text-shadow: none;

		a& { line-height: 1.1; }
	}
}

.video-thumb { display: block; position: relative;
	&:after { content: ''; position: absolute; left: 50%; top: 50%; width: 78px; height: 77px; margin-left: -39px; margin-top: -38px; background: url(../img/play-icon.png) 0 0 no-repeat; }
}






/* ==========================================================================
	Header
	========================================================================== */

.navbar-brand { height: auto; padding: 0 10px; margin-top: -10px;
	@media screen and (max-width: 767px) {
		float: none; display: block; width: 100%;

		img { display: block; margin: 0 auto; }
	}
}

.banner.navbar-default { background: #F1F2F4; border-bottom: 15px solid @blue; padding-top: 45px; margin-bottom: 0;
	.navbar-nav { float: right; margin-right: -10px; 
		> li { border-left: 1px solid #D9DADC; line-height: 25px; position: relative;
			> a { color: @blue; text-transform: uppercase; font-size: 22px; padding: 25px 35px 16px; border-bottom: 14px solid transparent; letter-spacing: 2px;
				.caret { border: 0 none; width: 16px; height: 12px; background: url(../img/caret.gif) 0 0 no-repeat; margin-left: 25px; vertical-align: baseline; }
			}

			&.active, &:hover, &.open {
				> a, > a:hover { color: @blue; background: transparent; border-bottom-color: #b2c720;  }
			}

			.dropdown-menu { border: 0 none; .box-shadow(0 0 3px rgba(0, 0, 0, .2)); .border-radius(0); width: auto; left: 50%; padding: 10px; margin-left: -108px;  
				> li {
					> a { color: @green; .droid(); font-size: 18px; font-style: italic; background: transparent; margin-top: 7px; }

					&.active, &.open {
						> a, > a:hover { background: transparent; }
					}

					&:last-child {
						.dropdown-menu { border-bottom: 0 none; }
					}
				}

				.dropdown-menu { .box-shadow(none); display: block; position: static; margin: 0; float: none; border-bottom: 1px solid #e6e7e7; padding-top: 0;
					> li {
						> a { padding: 3px 10px; color: #7b7b7b; .san(); font-size: 14px; font-style: normal; margin-top: 0; }
					}
				}
			}

			> .dropdown-menu { border-top: 15px solid @blue; }

			&:hover {
				> .dropdown-menu { display: block; }
			}
		}

		@media screen and (max-width: 991px) {
			> li {
				> a { padding: 15px 15px 10px; font-size: 16px; border-bottom-width: 7px;
					.caret { margin-left: 10px; }
				}

				> .dropdown-menu { border-top-width: 7px; }
			}
		}

		@media screen and (max-width: 767px) {
			float: none; margin: 0 -10px; border-top: 0 none;
			> li {
				> a { padding: 7px 15px 6px; border-top: 1px solid #babbbc; border-bottom: 0 none; }

				.dropdown-menu { background: none repeat scroll 0 0 rgba(0, 0, 0, 0); border: 0 none; float: none; margin: 0; padding: 0; position: static; .box-shadow(none);
					> li {
						> a { margin: 0; }
						.dropdown-menu { margin-left: 15px; padding-bottom: 5px; }
					}
				}
			}
		}
	}

	@media screen and (max-width: 991px) {
		border-bottom-width: 7px;
	}



	.navbar-toggle { background: transparent url(../img/nav-toggle.png) center center no-repeat; width: 65px; height: 30px; border: 0 none; }
}



/* ==========================================================================
	Content
	========================================================================== */

.body { background: #FFF no-repeat center center; background-size: cover; padding: 35px 0 0;
	&.default-page { background: url(../img/page-bg.png) 0 0 repeat-x; background-size: auto; padding: 100px }

	@media screen and (max-width: 767px) {
		padding-top: 0;
	}
}

.content { .san(); color: #8e9397; font-size: 20px;
	ol { padding-left: 20px; }
	/*li { margin-bottom: 14px; }*/
	h4 { margin: 24px 0px; }
}

.table { width: auto;
	> tbody {
		> tr {
			> td { border: 0 none; }
		}
	}

	> tbody + tbody {
    border: 0 none;
  }

	> thead {
		> tr {
			> th { border: 0 none; }
		}
	}

}





.image-sections {
	.row { margin-bottom: 20px;
		div { position: relative; }
		a.link-overlay { position: absolute; left: 0; width: 100%; top: 0; bottom: 0; padding: 20px 0 10px 15px; color: #FFF; text-decoration: none; font-size: 70px; line-height: 1.05; background: fadeout(#7e9aaa, 48%); text-shadow: 1px 5px 18px rgba(0, 0, 0, .45); .hfam(); opacity: 0; .transition(opacity .3s);

			&:hover { opacity: 1; }
			> span { position: absolute; left: 15px; bottom: 10px; right: 0;
				&:after { content: ''; display: inline-block; width: 33px; height: 42px; background: url(../img/polygon.png) 0 0 no-repeat; background-size: 100%; margin-left: 15px; }
			}


			@media screen and (max-width: 991px) {
				font-size: 36px;

				> span:after { width: 22px; height: 28px; vertical-align: bottom; position: relative; top: -3px; }
			}
		}
		img { .r-image(); width: 100%; }
	}


	@media screen and (max-width: 767px) {
		.row { margin-bottom: 0;
			a.link-overlay { opacity: 1; }
			> div { margin-bottom: 15px;
				div { overflow: hidden; }
			}

			img { height: 240px; max-width: none; width: auto; }
		}
	}

	.special-video { padding: 20px; background: #EFE9EB; text-align: center; .font_reset(); font-size: 14px; color: #252525;
		h5 { color: @blue; padding: 15px 0; margin: 0 0 15px; border-bottom: 1px solid #DAD7DB; font-size: 25px; }
		p { margin: 0; }
	}
}






.flex-direction-nav {
	a { width: 20px; height: 33px; margin-top: -16px; background: url(../img/carousels-nav.png) 0 0 no-repeat; opacity: 1;
		.text-hide();
		&:before { display: none; }

		&.flex-prev { left: -35px; }
		&.flex-next { background-position: 100% 0; right: -35px; }
	}
}




.section-title { font-size: 48px; color: #235aa4; text-transform: uppercase; }
.section-head { font-size: 38px; .san(); color: #282c30; text-transform: uppercase; font-weight: 600; }
.section-subhead { color: #f86e47; .droid(); font-style: italic; font-size: 28px; font-weight: bold; line-height: 1.35; }
.section-subhead2 { color: #a2b700; .droid(); font-style: italic; font-size: 35px; line-height: 1.35; }
.section-subhead2-1 { .section-subhead2(); font-size: 28px; }
.section-subhead3 { font-size: 30px; color: #70c1c8; }
.section-subhead4 { color: #70c1c8; .san(); font-weight: bold; font-size: 22px; line-height: 1.35; }
.section-line-head { color: #e0431e; text-transform: uppercase; text-align: center; margin: 35px 0 1em;
	> span { border: 2px solid #e0431e; border-width: 2px 0; display: inline-block; line-height: 1; padding: 10px 0; }
}


@media screen and (max-width: 767px) {
	.section-title { font-size: 30px; }
	.section-head { font-size: 26px; }
	.section-subhead { font-size: 18px; }
}


.toptab { line-height: 54px; background: url(../img/top-tab.png) 50% 50% no-repeat; color: #FFF; .droid(); font-size: 28px; font-style: italic; text-align: center; margin: 55px 0 40px; min-width: 752px; }
.toptab-long { .toptab(); background-image: url(../img/top-tab-long.png); min-width: 933px; }
.toptab-logo { line-height: 54px; background: url(../img/top-tab-logo.png) 50% 50% no-repeat; color: #FFF; min-width: 871px; font-size: 20px; .san(); font-style: normal; font-weight: bold; float: left; text-align: center; padding-right: 348px; }

@media screen and (max-width: 767px) {
	.toptab, .toptab-long, .toptab-logo { min-width: 0; background: transparent; color: #282c30; line-height: 1.2; left: auto !important; }
}








.one-section { color: #797f84; font-weight: 300; margin: 0 -10px; font-size: 20px; overflow: hidden;

	.section-wrap { width: 100%; margin: 0 auto; max-width: 1280px; padding: 0 15px; }
	b { color: #899F00; font-size: 25px; }

	.section-list { counter-reset: section-counter;
		h4 { font-size: 25px; color: #4e5459; }
		ol { margin: .8em 0 0; padding: 0; list-style: none;
			li { font-size: 16px; .droid(); font-style: italic; margin: 0 0 10px; line-height: 1.55; position: relative;
				&:before { content: counter(section-counter); counter-increment: section-counter; position: absolute; left: -52px; top: 0; border: 4px solid #c9e03a; width: 42px; line-height: 36px; text-align: center; .border-radius(50%); font-weight: bold; font-style: normal; color: #282c30; font-size: 24px; }
			}
		}
	}


	@media screen and (max-width: 767px) {
		font-size: 16px;

		b { font-size: 18px; }

		.section-list {
			h4 { margin-bottom: 0; font-size: 18px; .san(); }
			ol { padding-left: 40px;
				li { font-size: 14px;
					&:before { font-size: 16px; width: 33px; height: 33px; line-height: 28px; border-width: 2px; left: -42px; }
				}
			}
		}
	}

	.section-table { color: #FFF; border-radius: 10px; margin: 0 0 50px;
		td { padding: 15px 0;
			> div { padding: 35px; .flex(); .flexaligncenter(); .gradient(#888b44, #53532C, #9EAE3E); margin: 0 10px; .border-radius(10px); line-height: 1.3; }
		}
	}

	.bracket-list { padding: 0 44px 0 29px; color: #ff4211; background: url(../img/bracket-left.png) 0 50% no-repeat, url(../img/bracket-right.png) 100% 50% no-repeat; min-height: 124px; .flex(); .flexaligncenter();
		ul { margin: 15px 0;
			li { font-size: 19px; .droid(); font-style: italic; margin: 0; line-height: 1.55; }
		}

		.bracket-content { .droid(); font-style: italic; }
	}



	.arrow-section { text-align: center; counter-reset: arrow-counter;
		> section + section { background: url(../img/arrow-sep.png) 0 70px no-repeat; }
		h1 { font-size: 24px; color: #e0431e;
			&:after { display: block; margin: 20px auto 0; width: 114px; height: 73px; counter-increment: arrow-counter; content: counter(arrow-counter); text-align: center; color: #FFF; font-size: 35px; font-weight: bold; background: url(../img/number-arrow.png) 0 0 no-repeat; padding-top: 12px; }
		}
		p { font-size: 18px; .droid(); font-style: italic; padding: 0 15px; }
	}
	.arrow-section-h-wrap { margin-bottom: 60px; }
	.arrow-section-h { .flex(); align-items: center; justify-content: flex-start;
		h1 { font-size: 24px; color: #e0431e; font-weight: bold; line-height: 1.1; }
		.arrow-count { text-align: center; padding-right: 10px; display: block; width: 73px; height: 114px; line-height: 114px; font-weight: bold; font-size: 35px; color: #FFF; background: url(../img/number-arrow-h.png) 0 0 no-repeat; }
		p { font-size: 18px; margin: 0; .droid(); font-style: italic; }

		.a-title { width: 120px; margin-right: 40px; }
		.a-arrow { width: 73px; margin-right: 35px; }
		.a-content { max-width: 790px; }
		.a-link { font-size: 18px; .droid(); color: #e9552a;
			&:before { content: '> '; }
		}


		@media screen and (max-width: 767px) {
			align-items: flex-start; flex-direction: column;
			p { font-size: 16px; }
			.a-title { width: auto !important; }
			.a-arrow { display: none; }
			.a-link { margin-top: 15px; font-size: 16px; display: inline-block; }
		}
	}



	.top-nav-wrap { max-width: 320*4px; margin: 0 auto; }
	.top-nav-carousel { position: relative; max-width: 320*4px; margin: 0 auto; padding: 0 10px; .box-sizing(content-box); max-height: 441px;
		.flex-viewport { overflow: visible !important;
			li { opacity: 0; .transition(opacity .5s);
				&.in-view { opacity: 1; }

				&:before { pointer-events: none; width: 105%; height: 0; padding-bottom: 105%; content: ''; position: absolute; left: -2.5%; top: 0; background: url(../img/nav-circle.png) center center no-repeat; background-size: 100%; }
			}
		}
		.slides {
			li { text-align: center; padding-bottom: 150px; padding-top: 57px; position: relative;
				img { display: block; margin: 0 auto; max-width: 90%; }
				.nav-title { position: absolute; top: 360px; left: 0; width: 100%; .droid(); color: #a2b700; font-style: italic; padding: 0 60px; }
			}
		}
		.flex-direction-nav {
			a { margin-top: 0; top: 35%; }
		}


		@media screen and (max-width: 991px) {
			max-width: 250*3px;
		}
		@media screen and (max-width: 767px) {
			max-width: 75%; margin-top: 35px;

			.slides {
				li { padding: 30px 15px 80px;
					.nav-title { top: 150px; padding: 0; font-size: 14px; }
				}
			}

			.flex-direction-nav {
				a.flex-prev { left: -25px; }
				a.flex-next { right: -25px; }
			}
		}
		@media screen and (max-width: 480px) {
			.slides {
				li {
					img { max-height: 100px; }
				}
			}
		}
	}

	footer { font-size: 18px; color: #000; }


	&.can-section-1 { font-size: 23px; padding-top: 184px;
		.section-wrap { position: relative; padding-bottom: 20px; }
		.section-ribbon { .droid(); color: #FFF; font-size: 21px; font-style: italic; text-align: center; padding: 20px 150px; width: 958px; height: 146px; background: url(../img/section-ribbon.png) 100% 0 no-repeat; .flex(); align-items: center; position: relative; left: -100px; }
		.section-image { position: absolute; left: -185px; bottom: -50px; }

		@media screen and (max-width: 767px) {
			font-size: 16px; padding-top: 35px;

			.section-ribbon { position: absolute; right: 15px; font-size: 16px; left: -5px; width: auto; padding-left: 15px; padding-right: 35px; }
			.contentsecond { margin-top: 176px; }
		}
	}

	&.can-section-2 { text-align: center; background: url(../img/can-bg.png) 0 0 repeat-x;
		.section-wrap { padding-top: 65px; padding-bottom: 150px; position: relative; }
		.contentfirst { .droid(); color: @green; font-size: 23px; font-style: italic; width: 1100px; margin: 0 auto; }
		.contentsecond { max-width: 800px; margin: 0 auto; }
		.section-image { display: block; margin: 0 auto; }

		.section-list { text-align: left; position: absolute; right: 0; bottom: 110px; width: 320px; }

		@media screen and (max-width: 767px) {
			.contentfirst { width: auto; font-size: 18px; }
			.section-list { position: static; }
		}
	}

	&.can-section-3 { background: url(../img/can-bg-2.jpg) 0 0 repeat-x;
		.section-wrap { padding-top: 5px; padding-bottom: 20px; }
		.section-image { float: right; }
		.contentfirst { margin-top: 80px; }
		.buttonfield { text-align: center; padding: 40px 0 0; }

		.section-list { position: relative; top: -45px;
			h4 { margin-left: 52px; .san(); color: #4e5459;}
			li { margin-left: 52px; margin-right: 15px; }
		}

		@media screen and (max-width: 767px) {
			.buttonfield {
				a { margin: 0; }
			}
			.contentfirst { margin-top: 30px; }
			.section-image { float: none; max-width: 100%; height: auto; }
			.section-list { position: static;
				h4, li { margin-left: 0; }
			}
		}
	}

	&.can-section-4 { background: url(../img/can-bg.png) 0 0 repeat-x;
		.section-wrap { padding-top: 100px; padding-bottom: 140px; }
		.section-image { display: block; margin: 80px auto 0; }

		.section-list {
			h4 { margin-left: 52px; .san(); color: #4e5459;}
			li { margin-left: 52px; margin-right: 15px; }
		}
	}

	&.can-section-5 { background: url(../img/cans-hybrid-bg.png) right center no-repeat, url(../img/can-bg-2.jpg) 0 0 repeat-x #fafdfe;
		.section-wrap { padding-top: 140px; padding-bottom: 85px; }
		.section-image { float: right; margin: 120px 0 0; }

		.bracket-list { float: right; }
	}

	&.can-section-6 { background: url(../img/can-bg.png) 0 0 repeat-x;
		.section-wrap { padding-top: 60px; padding-bottom: 140px; }
		.section-image { display: block; float: right; margin: 65px 45px 70px 0; }
		h1 { .san(); color: #e53c19; font-weight: bold; }
		b { display: block; line-height: 1.2; margin: 0 0 10px; }
	}

	&.can-section-7 {
		.section-wrap { padding-top: 115px; }
		.toptab { margin-top: 90px; /*position: absolute; left: 50%; margin-left: -376px;*/ }
		h1 { .san(); color: #e53c19; font-weight: bold; }
	}

	&.can-section-8 { font-size: 18px; padding-bottom: 50px;
		h3, h4 { .droid(); font-size: 26px; color: #899f00; font-style: italic; }
		h3 { color: #a2b700; font-size: 36px; }

		.section-ribbon { float: left; width: 861px; height: 146px; background: url(../img/section-ribbon-2.png) 0 0 no-repeat; padding: 35px 0 0 40px; .droid(); color: #FFF; font-style: italic; font-size: 19px; text-align: center;
			p { margin: 0; max-width: 540px; }
			a { color: #fff; text-decoration: underline; }
		}
	}




	&.end-section-1 { font-size: 22px;
		.section-wrap { padding-bottom: 160px; padding-top: 150px; position: relative; }
		.section-ribbon { .droid(); color: #FFF; font-size: 32px; font-style: italic; text-align: center; padding: 20px 150px; width: 925px; height: 146px; background: url(../img/section-ribbon-2.png) 100% 0 no-repeat; .flex(); align-items: center; position: relative; left: -40px;
			p { line-height: 1.3; }
		}
		.contentfirst { margin: 30px 0 50px; }
		.section-image { position: absolute; right: 0; bottom: 0; }

		@media screen and (max-width: 767px) {
			font-size: 16px;
			.section-wrap { padding-top: 0 }
			.contentfirst { margin-bottom: 30px; }
			.section-ribbon { background-position: 0 0; font-size: 20px; left: 0; padding: 20px 20px 20px 30px; position: absolute; right: -5px; width: auto; }
		}
	}

	&.end-section-2 { background: url(../img/can-bg-2.jpg) 0 0 repeat-x #fafdfe; text-align: center;
		.section-wrap { padding-top: 100px; }
		.section-image-wrap { margin-top: 40px; padding-top: 100px; padding-bottom: 90px; background: url(../img/bg-circle.png) center 0 no-repeat; }
		.bracket-list { margin: 0 80px; }
		h1 { .san(); margin-bottom: 1.4em; font-weight: 600; }

		@media screen and (max-width: 767px) {
			.section-image-wrap { background: none; padding-top: 0; padding-bottom: 30px; }
			h1 { font-size: 20px; text-transform: uppercase; }
			.bracket-list { margin: 0 0 25px; }
		}
	}

	&.end-section-3 { background: url(../img/can-bg.png) 0 0 repeat-x;
		.section-wrap { padding-top: 140px; padding-bottom: 60px; }
		.contentsecond { position: relative; top: -50px; }

		@media screen and (max-width: 767px) {
			.contentsecond { position: static; display: block; }
			.section-image { margin: 0 auto; display: block; }
		}
	}




	&.sus-section-1 { font-size: 23px;
			h2 { .san(); font-weight: 600; }
		.section-wrap { position: relative; padding-bottom: 40px; padding-top: 30px; }
		.section-ribbon { .droid(); color: #FFF; font-size: 30px; font-style: italic; text-align: left; padding: 20px 150px; width: 924px; height: 146px; background: url(../img/section-ribbon-2.png) 100% 0 no-repeat; .flex(); align-items: center; justify-content: flex-start; position: relative; left: -40px;
			p { line-height: 1.3; }
		}
		.section-image { position: absolute; bottom: 0; right: -40px; }
	}

	&.sus-section-2 { text-align: center; background: url(../img/can-bg.png) 0 0 repeat-x;
		.section-wrap { padding-top: 80px; padding-bottom: 70px; }
		.section-image-wrap { background: url(../img/recycle.png) no-repeat 50% 0; height: 951px; position: relative; margin: 0 auto 30px;
			.section-image { margin: 0 auto; max-width: 100%; height: auto; }
			.circle-text { position: absolute; width: 470px; height: 208px; background: url(../img/circle-section.png) 0 0 no-repeat; .droid(); font-style: italic; text-align: center; left: 0; top: 0; color: #FFF; padding: 40px 130px 0; font-size: 18px;
				b { display: block; .hfam(); font-style: normal; color: #FFF; font-size: 50px; line-height: 1.1; font-weight: 100;}

				&.circle-1 { left: 0; top: 20%; }
				&.circle-2 { left: 0; top: 50%; }
				&.circle-3 { left: auto; right: 0; top: 20%; }
				&.circle-4 { left: auto; right: 0; top: 50%; }
			}
		}
		.contentsecond { font-size: 25px; font-weight: bold; color: #f35b36; text-align: left; }

		.recycle-head { text-transform: uppercase; font-size: 48px; color: #79bac1; }
		.recycle-section { width: 1150px; height: 586px; background: url(../img/recycle-list.png) 0 0 no-repeat; margin: 0 auto; color: #FFF;
			.recycle-item { height: 195px; padding: 0 90px 0 215px; .flex(); .flexaligncenter(); .flexstart(); text-align: left; font-weight: bold;
				.item-1 { width: 325px; padding-right: 50px; float: left; font-size: 36px; line-height: 1; }
				.item-2 { width: 520px; float: left; font-size: 22px; font-weight: normal; line-height: 1.3; }
			}
		}

		footer { .san(); font-size: 14px; float: left; margin-top: 30px; }

		@media screen and (max-width: 767px) {
			.section-image-wrap { background-size: 100%; background-position: 50% 5%; height: auto;
				.section-image { max-width: 75%; margin-bottom: 50px; }
				.circle-text { position: static; background-size: 100%; width: auto; padding: 9% 25% 0; font-size: 12px; max-width: 320px; margin-left: auto; margin-right: auto;
					b { font-size: 22px; }
				}
			}
			.contentsecond { font-size: 18px; }

			.recycle-section { background: none; width: auto;
				.recycle-item { padding: 0; flex-direction: column; min-height: 150px; margin-bottom: 15px; height: auto;
					.item-1 { width: auto; padding: 0; font-size: 16px; line-height: 24px; margin-bottom: 10px; height: 13%; }
					.item-2 { width: auto; padding: 0 0 0 35%; font-size: 14px; }

					&:first-child { background: url(../img/recycle-bg-mobile-1.jpg) 0 0 no-repeat; background-size: 100%; }
					&:nth-child(2) { background: url(../img/recycle-bg-mobile-2.jpg) 0 0 no-repeat; background-size: 100%; }
					&:nth-child(3) { background: url(../img/recycle-bg-mobile-3.jpg) 0 0 no-repeat; background-size: 100%; }
				}
			}
		}
	}

	&.sus-section-3 { background: url(../img/can-bg-3.jpg) 0 0 repeat-x #fafdfe;
		.section-wrap { padding-top: 110px; padding-bottom: 70px; }
		.contentfirst { margin: 0 0 35px; }
		.contentsecond { text-align: center; .droid(); color: #797f84; font-size: 20px; font-style: italic; margin-bottom: 40px;
			p { margin-top: 0; }
		}

		h3 { font-size: 30px; }

		.chain-items { text-align: center;
			> div { margin-bottom: 40px;
				&:nth-child(4) { clear: left; }
			}

			h5 { font-size: 24px; font-weight: 600; color: #e0431e; .san(); }
			.step { display: block; margin: 20px auto 15px; width: 114px; height: 73px; counter-increment: arrow-counter; content: counter(arrow-counter); text-align: center; color: #FFF; font-size: 35px; font-weight: bold; background: url(../img/number-arrow.png) 0 0 no-repeat; padding-top: 12px;
			}
			p { font-style: italic; .droid(); font-size: 18px; max-width: 300px; margin: 20px auto 0; }
		}
	}

	&.sus-section-4 { background: url(../img/can-bg.png) 0 0 repeat-x;
		.section-wrap { padding-top: 100px; padding-bottom: 85px; position: relative; }
		.section-ribbon { .droid(); color: #FFF; font-size: 30px; font-style: italic; text-align: center; padding: 20px 20px 20px 220px; width: 855px; height: 101px; background: url(../img/thin-ribbon.png) 100% 0 no-repeat; position: relative; left: -305px; margin-bottom: 20px; line-height: 54px; }
		.section-image { position: absolute; left: -400px; top: 145px; }
	}

	&.sus-section-5 { background: url(../img/can-bg.png) 0 0 repeat-x;
		.section-wrap { padding-top: 80px; padding-bottom: 30px; }
		.video-head { font-size: 30px; margin-bottom: 30px; }
		.videotext { .droid(); color: #797f84; font-size: 18px; }
		.toptab { margin: 90px 0 50px; float: left; }
		.arrow-section-h {
			.a-title { width: 205px;
				h1 { .san(); color: #282c30; font-weight: 600;}
			}
		}
		h4 {.san(); font-size: 25px; margin: 12px 0px;}
	}

	&.sus-section-6 { background: url(../img/careers-bg.png) repeat-x 0 0;
		.section-wrap { padding-top: 145px; padding-bottom: 220px; }
		h1.section-line-head { font-size: 60px; }
		iframe { background: #FFF; margin: auto; }
	}





	&.health-section-1 { font-size: 22px;
		.section-wrap { padding-bottom: 40px; padding-top: 350px; position: relative; }
		.section-ribbon { .droid(); color: #FFF; font-size: 24px; font-style: italic; text-align: center; padding: 10px 150px 10px 350px; width: 1071px; height: 146px; background: url(../img/section-ribbon.png) 100% 0 no-repeat; .flex(); align-items: center; position: relative; left: -230px; }
		.section-image { position: absolute; left: -110px; bottom: 0; }
		p { position: relative; z-index: 1; }

		.section-title,
		.section-subhead3, p { margin-left: 3%; }
		h2 { .hfam(); font-weight: 100;}
	}

	&.health-section-2 { background: url(../img/can-bg.png) 0 0 repeat-x;
		.section-wrap { padding-top: 65px; }
		.contentfirst { .flex(); .flexaligncenter(); line-height: 1.35; 
			> div + div:before { background: url(../img/content-sep.png) 0 0 no-repeat; position: absolute; left: -9%; top: 0; bottom: 0; width: 1px; content: ''; }
		}
		p { font-size: 20px; line-height: 1.35; }
		b { color: #a2b700; font-size: 28px; .droid(); }
		.tooltip-wrapper { margin-top: 150px; }
		.section-image { margin: 0 auto; display: block; }

		@media screen and (max-width: 767px) {
			.contentfirst { display: block; }
			p { font-size: 16px; }
			b { font-size: 18px; }
			.tooltip-wrapper { margin-top: 35px; }
		}
	}

	&.health-section-3 { background: url(../img/cus-bg-2.png) 0 0 repeat-x;
		.section-wrap { padding-top: 145px; padding-bottom: 25px; }
		.section-image { float: right; margin-top: -150px; }
		.can-title { font-size: 48px; font-weight: bold; color: #FFF; background: #70c1c8; text-transform: uppercase; padding: 55px 50px 60px; line-height: 1; border-radius: 10px; position: relative;
			span { font-size: 100px; position: absolute; right: 40px; letter-spacing: 0; top: 50%; line-height: 1; letter-spacing: -5px; margin-top: -55px; }
			sup { top: auto; vertical-align: top; font-size: 50px; position: relative; top: -.7em; vertical-align: baseline; }
		}
		.can-section { .clearfix(); text-align: center; position: relative; color: #000; margin: -30px 0 15px;
			display: flex; justify-content: space-between; align-items: flex-start;
			.can-item { float: left; font-size: 18px;
				&:first-child { width: 26%; }
				&:nth-child(2) { width: 31%; }
				&:last-child { width: 39%; }

				img { max-width: 100%; height: auto; }
				p { line-height: 1.3; }
			}
		}

		@media screen and (max-width: 767px) {
			.section-image { margin-right: 0; float: none; max-width: 100%; margin-top: 0; }
			.can-title { font-size: 18px; text-align: center; padding: 15px 15px 25px; line-height: 1.4;
				span { position: static; display: block; margin: 0; font-size: 48px; }
			}
			.can-section { display: block; margin-top: -15px;
				.can-item { float: none; width: auto !important; }
			}
			footer { text-align: center; font-size: 14px; }
		}
	}

	&.health-section-4 { background: url(../img/can-bg-2.jpg) 0 0 repeat-x; font-size: 18px;
		.section-wrap { padding-top: 70px; padding-bottom: 65px; position: relative; }
		.section-content { position: absolute; left: 15px; top: 70px; width: 500px; }
		.section-image-wrap { position: relative; counter-reset: health-counter;
			.health-item { position: absolute; width: 500px;
				h4 { .san(); font-size: 25px; color: #9bae3c; margin: 0px 0px 10px; }
				p { line-height: 1.4; font-size: 18px; margin-top: 0px; }

				&:before { content: counter(health-counter); counter-increment: health-counter; position: absolute; width: 65px; height: 65px; background: url(../img/border-circle.png) 0 0 no-repeat; left: 30px; top: -20px; line-height: 66px; text-align: center; font-size: 40px; color: #FFF; font-weight: bold; }
				&:first-child { top: 235px; left: 0; padding-left: 120px; }
				&:nth-child(2) { bottom: 290px; width: 430px; padding-left: 120px; }
				&:nth-child(3) { top: 70px; }
				&:nth-child(4) { bottom: 315px; }
				&:nth-child(n+3) { right: 0; width: 390px; text-align: right; padding-right: 80px;
					&:before { left: auto; right: 0; }
				}
			}

			.btn { right: 80px; position: absolute; bottom: 180px; .droid(); font-size: 21px; font-weight: 100;
				&:after { width: 16px; height: 18px; display: inline-block; background: url(../img/white-triangle.png) 0 0 no-repeat; content: ''; margin-left: 12px; }
			}
		}
		.section-image { display: block; margin: 0 auto; max-width: 100%; }
		footer { position: absolute; left: 10px; bottom: 155px; width: 400px; font-size: 14px; }

		@media screen and (max-width: 767px) {
			.section-content { position: static; width: auto; }
			.section-image-wrap { text-align: center; .flex(); flex-direction: column;
				.health-item { position: static; padding-right: 0 !important; width: auto !important; padding-left: 45px !important; text-align: left !important;
					h4 { font-size: 20px; }
					p { font-size: 16px; }
					&:before { top: auto !important; left: 0 !important; background-size: 100%; width: 35px; height: 35px; font-size: 20px; line-height: 36px; }

					&:first-child { order: 1; }
					&:nth-child(2) { order: 2; }
					&:nth-child(3) { order: 4; }
					&:nth-child(4) { order: 5; }
				}
					
				.section-image { order: 3; margin-bottom: 25px; }
				.btn { position: static; margin: 15px 0 25px; order: 6; }
			}
			footer { position: static; width: auto; font-size: 12px; }
		}
	}



	&.dev-section-1 {
		.section-wrap { padding-top: 160px; padding-bottom: 170px; position: relative; }
		.section-image { position: absolute; bottom: 0; left: -110px; }
		.section-ribbon { .droid(); color: #FFF; font-size: 20px; font-style: italic; text-align: center; padding: 20px 210px 30px; width: 958px; height: 146px; background: url(../img/section-ribbon.png) 100% 0 no-repeat; .flex(); align-items: center; position: relative; left: -100px; }
	}

	&.dev-section-2 { background: url(../img/can-bg.png) 0 0 repeat-x;
		.section-wrap { padding-top: 125px; padding-bottom: 60px; }
		.section-image { position: absolute; right: 0; bottom: -90px; }
		.row { position: relative; }

		.dev-table-header { text-align: center; color: #FFF; font-weight: bold; margin: 40px 10px 13px;
			> .row { background: #9ab128;
				> div:after { content: ''; position: absolute; width: 60px; top: 0; bottom: 0; right: 0; background: url(../img/table-header-2.png) 0 0 no-repeat #f8f8f8; }
				> div:first-child:after { right: 7%; width: 21px; background: url(../img/table-header.png) 0 0 no-repeat; }
			}
		}
		.dev-table { padding: 0 10px 0 25px; background: #d1dba2; margin-bottom: 160px; counter-reset: section-counter;
			.dev-table-item { background: #d1dba2; min-height: 388px; padding: 15px 51px 15px 0; text-align: center; font-size: 15px; color: #FFF; font-weight: bold; position: relative;
				&:after { position: absolute; right: 0; top: 0; bottom: 0; width: 51px; background: url(../img/border-table.png) 0 0 no-repeat; content: ''; }
				&:last-child:after { background-image: url(../img/border-table-last.png); }
				&:before { content: counter(section-counter); counter-increment: section-counter; width: 91px; height: 89px; background: url(../img/table-circle.png) 0 0 no-repeat; position: absolute; bottom: -120px; left: 20px; color: #d4e488; line-height: 85px; font-size: 58px; font-weight: bold; }
				h4 { font-size: 18px; color: #f86e47; }
				p { line-height: 1.3; }
			}
		}

		@media screen and (max-width: 767px) {
			.dev-table {
				.dev-table-item {
					&:before { background-size: 100% auto; font-size: 36px; width: 57px; height: 56px; line-height: 59px; }
				}
			}
		}
	}

	&.dev-section-3 { background: transparent right bottom no-repeat; background-size: cover;
		.section-wrap { padding-top: 75px; padding-bottom: 500px; }
	}

	&.dev-section-4 { background: url(../img/development-gradient.jpg) 0 0 no-repeat; background-size: 100% auto;
		.section-wrap { padding-top: 80px; padding-bottom: 70px; }
		.section-ribbon { .droid(); color: #FFF; font-size: 24px; font-style: italic; text-align: left; padding: 30px 380px 20px 55px; width: 924px; height: 146px; background: url(../img/section-ribbon-2.png) 100% 0 no-repeat; position: relative; left: -20px; margin-top: 30px; }
		.list-items { font-size: 14px; margin-right: 25px; margin-top: -25px;
			.item { margin-bottom: 20px;
				h5 { margin: 25px 0 0; font-size: 18px; }
				p { line-height: 1.3; margin: 5px 0 0; }
			}
		}
	}

	&.dev-section-5 { background-color: #fbfefe;
		.section-wrap { padding-top: 90px; }
		.product-development-graph { margin-left: -40px;
			.slides { background: url(../img/product-development-graph/State-00.png) 0 0 no-repeat; background-size: 100% auto;
				li { .transition(opacity 1s); }
			}
			img { max-width: 100%; height: auto; }
		}
	}







	&.customer-section-1 { font-size: 22px; padding-top: 160px;
		.section-wrap { position: relative; padding-bottom: 20px; }
		.section-ribbon { .droid(); color: #FFF; font-size: 24px; font-style: italic; text-align: center; padding: 20px 120px 20px 320px; width: 958px; height: 201px; background: url(../img/section-ribbon-4.png) 100% 0 no-repeat; position: relative; left: -215px; margin-bottom: 20px;}
		.section-image { position: absolute; left: -70px; bottom:0; }
		h2 { font-size: 40px; }
		h4 { .hfam(); font-size: 30px; font-weight: 400;}
		a, a:hover, a:focus, a:active { color: #f86e47; text-decoration: underline; }
	}

	&.customer-section-2 { font-size: 22px; padding-top: 60px; background: url(../img/can-bg.png) 0 0 repeat-x; 
		.section-wrap { position: relative; }
		.section-image { position: relative; float: right; margin-top: -60px; bottom: 0; }
		p { font-size: large;}
		ul {padding:0px 20px; font-size: 18px;}
	}

	&.customer-section-3 { font-size: 22px; padding-top: 147px; background: url(../img/cus-bg.png) 0 0 repeat-x;
		.section-wrap { position: relative; }
		.section-image { position: relative; left: -40px; top: -45px; bottom: 0; padding-bottom: 30px;}
		.section-image:last-child {padding-bottom: 0px;}
		p { font-size: large;}
		ul {padding:0px 15px; font-size: 18px;}
			li {padding:5px 0px;}
	}

	&.customer-section-4 { font-size: 22px; padding-top: 100px; background: url(../img/can-bg.png) 0 0 repeat-x; 
		.section-wrap { position: relative; }
		.section-image { position: relative; float: right; margin-top: -40px; bottom: 0; }
		p { font-size: large;}
		ul {padding:0px 20px; font-size: 18px;}
			li {padding:5px 0px;}
	}

	&.customer-section-5 { font-size: 22px; padding-top: 90px; background: url(../img/cus-bg-2.png) 0 0 repeat-x;
		.section-wrap { position: relative; padding-bottom: 20px; }
		.section-ribbon { .droid(); color: #FFF; font-size: 36px; font-style: italic; text-align: center; padding: 20px 180px 20px 246px; width: 1175px; height: 201px; background: url(../img/section-ribbon-4.png) 100% 0 no-repeat; .flex(); align-items: center; position: relative; left: -794px; margin: 20px;p { line-height: 1.3; }
			}
		.section-image:first-child { position: relative; margin-left: -240px; margin-top: -98px; margin-bottom: -100px;}
		.section-image:last-child { position: relative; margin-left: -50px;}
		.image-title { color: #f86e47; .flex(); font-size: 28px; font-weight: bold; line-height: 1.35; margin-left: -168px; }
		h2 {font-size: 40px;}
		ul {padding:0px 18px;}
	}

	&.careers-section-1 { background: url(../img/cus-bg-2.png) 0 0 repeat-x; margin-top: -35px; 
		.section-wrap { padding-top: 126px; 
			p {font-size: 22px;}
		}
		.section-ribbon { .droid(); color: #FFF; font-style: italic; text-align: right; padding: 8px 250px 20px 198px; width: 924px; height: 146px; background: url(../img/section-ribbon-2.png) 100% 0 no-repeat; position: relative; left: -20px;
			.subscript { font-size:16px; margin-top: -35px;}
			p {font-size: 32px;}
		}
		.section-subhead { margin: 56px 0px;}
		.section-image { position: relative; padding-top: 50px; bottom: -46px; right: -40px; }
		h2.section-title { font-size: 54px; }
		h2 {font-size: 40px;}
	}

	&.careers-section-2 { padding-top: 95px; background: url(../img/can-bg.png) 0 0 repeat-x; 
		.section-wrap { position: relative; text-align: right; margin-bottom: 45px;}
		.section-image { position: relative; float: right; margin-top: 60px; bottom: 0; left: 70px; }
		b {font-size: 30px;}
		p {font-size: 22px;}
		strong {color: #797f84; }
	}

	&.careers-section-3 { padding-top: 95px; background: url(../img/careers-bg.png) 0 0 repeat-x; 
		.section-wrap { position: relative; text-align: left; margin-bottom: 45px;}
		.section-ribbon { .droid(); color: #FFF; font-size: 28px; font-style: italic; text-align: right; padding: 0px 340px 0 80px; width: 924px; height: 146px; background: url(../img/section-ribbon-2.png) 100% 0 no-repeat; position: absolute; top: 577px;
			.subscript { font-size:16px; }
			p { line-height: 1.2; margin: .8em 0 .2em; }
		}
		.section-image { position: relative; float: right; margin-top: -40px; bottom: 0; left: 10px; }
		b {font-size: 30px;}
		.section-image-2 { position: relative; top: 40px; }
		.section-list { position: relative; 
			h4 { .san(); font-style: normal; padding-top: 8px; font-weight: 600; }
			li { margin-left: 52px; margin-right: 15px; }
		}
		a, a:hover, a:focus, a:active { color: #f86e47; text-decoration: none; }

	}

	&.careers-section-4 { padding-top: 108px; background: url(../img/careers-bg-2.png) 0 0 repeat-x; 
		.section-wrap { position: relative; text-align: left; margin-bottom: 45px;}
		.section-image { position: relative; float: right; margin-top: -10px; bottom: 10px; }
		h4.section-subhead { margin: 0px 0px; }
		b { font-size: 30px; }
		ul { color: #f86e47; padding-left: 18px; margin-top: 36px;}
		h2 { .san(); font-weight: 600; }
		li { margin-bottom: 6px; } 
	}

	&.careers-section-5 { padding-top: 104px; background: url(../img/can-bg-2.jpg) 0 0 repeat-x; 
		.section-wrap { position: relative; text-align: left; margin-bottom: 45px;}
		.section-image { position: relative; float: right; margin-top: -10px; bottom: 10px; }
	}

	&.careers-section-6 { padding-top: 104px; background: none; 
		.section-wrap { position: relative; text-align: left; margin-bottom: 45px;}
		.section-image { position: relative; float: right; margin-top: -10px; bottom: 10px; }
	}

	&.supplier-section-1 { font-size: 22px; padding-top: 80px; background: url(../img/supp-bg.png) 0 0 repeat-x; margin-top: -36px;
		.section-wrap { position: relative; padding-bottom: 20px; }
		.section-image { position: relative; bottom:0; margin-bottom: 30px; max-width: 95%; height: auto; }
		.row:first-child { margin-bottom: 240px;}
		h2.section-head{ margin-top: 40px; }

		@media screen and (max-width: 991px) {
			.row:first-child { margin-bottom: 100px; }
		}
		@media screen and (max-width: 767px) {
			margin-top: 0; padding-top: 30px; font-size: 16px;
			.row:first-child { margin-bottom: 0; }
		}
	}




	&.vendors-section-1 { font-size: 22px; padding-top: 80px; background: url(../img/supp-bg.png) 0 0 repeat-x; margin-top: -36px;
		.section-wrap { position: relative; padding-bottom: 20px; }
		.section-image { position: relative; bottom:0; margin-bottom: 35px; }
		a, a:hover, a:focus, a:active { color: #f86e47; font-weight: 400; text-decoration: underline;}
	}

	&.vendors-section-2 { font-size: 22px;
		.section-wrap { position: relative; padding-bottom: 20px; }
		.download {background: url("../img/orange-triangle.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0); height: 7px; width: 10px; vertical-align: middle; margin-left: 10px; display: inline-block;}
		.download-list {
			> div:nth-child(odd) { clear: left; }
			h3 { color: #67b3ba; font-weight: bold; .san(); }
			dl { margin-bottom: 80px; }
			dd { font-weight: bold; font-size: 14px; padding: 5px 0px; color: #a0a4a7; }
			a { color: #f86e47; text-decoration: none;}
		}
	}

	&.client-downloads-section-1 { font-size: 22px; padding: 70px 0px; margin-top: -36px; background: url(../img/cus-bg.png) 0 0 repeat-x;
		.section-wrap { position: relative; padding-bottom: 20px; }
		.section-image { position: relative; bottom:0; top: -20px; }
		h2 { font-size: 40px; }
		p { font-size: 20px; }
	}



	&.cooking-section-1 {
		.section-wrap { padding-bottom: 80px; }
		.toptab-long { }
		.toptab-section { position: relative; left: -60px; }
		.toptab-content { max-width: 640px; margin: 0 auto 30px; text-align: center; }

		.arrow-section-h { margin-bottom: 15px;
			.a-title { width: 205px; margin-right: 0;
				h1 { color: #282c30; font-weight: normal; }
			}
		}

		.toptab { float: left; position: relative; left: -60px; margin-bottom: 60px; margin-top: 40px; }
		.video-item { padding-left: 20px; padding-right: 20px; margin-bottom: 30px;
			a { text-decoration: none; text-align: center;
				&, &:focus { outline: none; }
				.video-title { max-width: 270px; display: block; font-weight: bold; font-size: 22px; color: #67b3ba; margin: 0 auto 10px; line-height: 1.3; }
				img { width: 100%; height: auto; display: block; }
				.video-source { display: block; font-size: 16px; font-weight: bold; background: #67b3ba; color: #FFF; padding: 5px; }
			}
		}


		@media screen and (max-width: 767px) {
			.toptab-section { left: auto; }
		}
	}






	&.loc-section-1 { padding-top: 35px; margin-top: -35px; background: url(../img/page-bg.jpg) 0 0 repeat-x;
		.section-wrap { padding-bottom: 120px; padding-top: 20px; }
		.section-head { margin-top: 35px; }


		#loc-accordion {
			.panel { .box-shadow(none); border: 0 none; overflow: visible; }
			.panel-title { color: #FFF; font-size: 24px; width: 870px; height: 33px; line-height: 33px; background: url(../img/top-tab-loc.png) 0 0 no-repeat; padding: 0 385px 0 194px; text-align: center;
				> a { text-decoration: none; }
			}
			.place-panel { min-height: 200px; }
			h5 { margin: 0; }
			p { font-size: 18px; margin: 0; }

			.panel-heading { padding: 0; margin-bottom: 50px; position: relative; left: -100px;
				+ .panel-collapse .panel-body { border: 0 none; }
			}
		}
	}

	&.loc-section-2 { background: url(../img/careers-bg.png) repeat-x 0 0;
		.section-wrap { padding-top: 95px; padding-bottom: 85px; position: relative; }
		.list-items { padding: 0; list-style: none;
			li { max-width: 570px; height: 73px; position: relative; margin-bottom: 15px;
				a { position: relative; z-index: 1; display: block; line-height: 73px; color: #FFF; text-decoration: none; padding: 0 0 0 25px; text-transform: uppercase; font-size: 25px; font-weight: bold;
					&:after { content: ''; width: 17px; height: 17px; display: inline-block; background: url(../img/list-tri.png) 0 0 no-repeat; margin-left: 15px; }
				}
				&:after { position: absolute; left: 0; top: 0; bottom: 0; right: 0; background: url(../img/list-bg.png) 100% 0 no-repeat; content: ''; }

				&:nth-child(n+2):after { opacity: .9; }
				&:nth-child(n+3):after { opacity: .78; }
				&:nth-child(n+4):after { opacity: .65; }
				&:nth-child(n+5):after { opacity: .52; }
				&:nth-child(n+6):after { opacity: .39; }
				&:nth-child(n+7):after { opacity: .26; }
			}
		}
		.section-image { position: absolute; bottom: 115px; left: -150px; }
	}

	&.loc-section-3 { background: url(../img/careers-bg-2.png) 0 0 repeat-x #FAFAFA;
		.section-wrap { padding-top: 90px; padding-bottom: 85px; }
		.row { position: relative; }
		.contentfirst { position: relative; z-index: 1; }
		.section-image { position: absolute; right: 0; top: -90px; }
		h3.section-subhead4 { font-weight: 600; font-size: 25px; }
		.employee-list { margin-top: 100px; text-align: center;
			.employee { margin-bottom: 80px; }
			h4, h5 { .san(); }
			h4 { font-size: 24px; color: #f86e47; margin: 0; font-weight: 600;}
			h5 { font-size: 16px; color: #70c2ca; margin: 5px 0 1em; }
			.avatar { padding: 11px; background: #d7eef1; display: inline-block; border: 5px solid; border-color: #e9f5f7 #bee2e7 #bee2e7 #e9f5f7; position: relative;
				a { background: #e9552a; color: #FFF; text-transform: uppercase; text-decoration: none; position: absolute; left: 40px; right: 40px; bottom: -20px; line-height: 31px; font-size: 14px; font-weight: bold; .border-radius(0 0 5px 5px); }
			}
			.description { max-width: 285px; margin: 0 auto; background: #f8f8f8; padding: 30px 10px 10px; line-height: 1.3; text-align: left; display: none; }
		}
	}


	&.loc-section-4 { background: #b4cac3;
		.section-wrap { padding-top: 150px; padding-bottom: 160px; position: relative; }
		.contentlink {
			a { color: #f86e47; font-weight: 400; text-decoration: none;
				&:after { display: inline-block; width: 9px; height: 12px; background: url(../img/link-tri.png) 0 0 no-repeat; content: ''; margin-left: 10px; }
			}
		}
		.section-image { position: absolute; bottom: 0; left: 0; }
	}








	@media screen and (max-width: 767px) {

		
		&.dev-section-2,
		&.dev-section-5 { background: none !important; }

		&.can-section-2,
		&.can-section-4,
		&.end-section-3,
		&.end-section-2,
		&.dev-section-2,
		&.dev-section-5,
		&.health-section-3,
		&.health-section-4 {
			.section-wrap { padding-top: 30px; padding-bottom: 30px; }
		}

		&.dev-section-2,
		&.can-section-1,
		&.end-section-1 {
			.section-image { display: none; }
		}

		&.dev-section-5 {
			.product-development-graph { margin-left: auto }
		}
	}
}


.tooltip-wrapper { position: relative; text-align: center;
	.tooltip-container { display: inline-block; position: relative; vertical-align: top; max-width: 100%;
		img { max-width: 100%; }
	}
	.tooltip-hidden { display: none; }
	a { position: absolute; left: 0; top: 0; .text-hide();
		width: 58px; height: 58px; border: 3px transparent solid;
		.box-shadow(0 0 0 3px #FF6E49);
		background-color: #ff6e49; .border-radius(50%);
		.animation(.5s ease 0s alternate none infinite tooltip-pin);
	}
}


@-webkit-keyframes tooltip-pin {
	from {
		.box-shadow(0 0 0 3px rgba(255, 110, 73, 0));
	}
	to {
		.box-shadow(0 0 0 3px rgba(255, 110, 73, 1));
	}
}
@keyframes tooltip-pin {
	from {
		.box-shadow(0 0 0 3px rgba(255, 110, 73, 0));
	}
	to {
		.box-shadow(0 0 0 3px rgba(255, 110, 73, 1));
	}
}





/* ==========================================================================
	Primary Content
	========================================================================== */

.main { }


.page-header { padding: 0; border: 0 none; margin: 0; }


/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }

.sitemap { margin: 40px 0 180px;
	h3 { .san(); font-size: 30px; font-weight: 600;
		a { color: #f86e47; }
	}
	p { margin: 0 0 8px 25px;
		a { font-size: 22px; color: #797f84; font-weight: 600;}
	}
}

.contactform { background: #d3e4e6; padding: 50px 40px 30px 20px; max-width: 900px; margin: 40px 0;
	label { text-align: right; padding-right: 0; font-size: 12px; margin: 5px 0 0; }
	.form-group { margin-bottom: 5px; }
	.submit-p { text-align: right; }
}

.qtip { max-width: 320px; }
.qtip-default { background: #c9dd2c; border-color: #c9dd2c; .san(); font-size: 18px; line-height: 1.3; color: #282c30;
	.qtip-titlebar { background: transparent; font-size: 18px; text-transform: uppercase; padding: 15px 35px 5px 15px;
		.qtip-close { border: 0 none; background: transparent; font-size: 24px; color: darken(#ddf63d, 2%); text-decoration: none; }
	}
	.qtip-content { padding: 5px 20px 5px 9px; }
	ul { padding-left: 1.2em;
		li { color: #ff5418;
			> span { color: #282c30; }
		}
	}
}


.tribe-bar-disabled,
.tribe-events-page-title { display: none; }

#tribe-events-content-wrapper { max-width: 580px; margin: 0 auto; }
.events-archive.events-gridview {
	#tribe-events-content { margin-bottom: 0;
		table.tribe-events-calendar { font-size: 11px; color: #2e2725; border: 0 none; .san(); background: #d3e4e6;
			th, td { font-weight: normal; border: solid 4px #FFF;
				div[id*="tribe-events-daynum-"] { font-size: 18px; font-weight: bold; padding: 6px;
					a { font-size: 18px; font-weight: bold; }
				}
				a { font-size: 10px; font-weight: 300; text-decoration: none; display: block; line-height: 1.3; .san(); color: #2e2725; }
			}
			td { height: 78px; }
			.vevent { padding: 0; }
		}

		#tribe-events-header, #tribe-events-footer { font-size: 11px; }
		.tribe-events-sub-nav { padding: 0;
			a { color: #2e2725; }
		}

		.tribe-events-notices { font-size: 12px; padding: .3em .6em; margin: 0 0 .5em; }
		.tribe-events-tooltip {
			h4.entry-title { .san(); }
		}
	}
}


/* ==========================================================================
	Sidebar
	========================================================================== */

.sidebar { }



/* ==========================================================================
	Posts
	========================================================================== */

.hentry { margin: 75px 0;
	header { }
	time { }
	.byline { }
	.entry-content { color: #797f84; font-size: 17px;
		h3 { color: @gyan; }
		a:not(.btn) { color: @green; text-decoration: underline; }
	}
	footer { }

	@media screen and (max-width: 767px) {
		.entry-content { font-size: 16px; }
	}
}

.post-summary { margin: 0; border-top: 1px solid #797f84; padding: 0 0 35px;
	.entry-title { color: #f86e47; font-size: 20px; }
	.entry-summary { font-size: 20px; }
	.published { font-weight: bold; color: #797f84; text-transform: uppercase; font-size: 20px; }
}


.use-as-feature-image { margin-top: 180px; }

.landing-entry { margin: 150px 0 65px;
	.carouselslider { margin: 105px 0 65px; position: relative;/* left: -10px;*/
		.slides {
			li { display: inline; margin: 0 20px 0 0; }
		}

		.flex-viewport {
			a { display: block; }
			img { width: 100%; height: auto; }
		}
	}

	@media screen and (max-width: 767px) {
		margin-top: 25px;

		.carouselslider { margin: 30px; }
	}
}

figure {
	img { max-width: 100%; height: auto; width: 100%; }
}

.cans-cooking-entry { max-width: 1280px; margin-left: auto; margin-right: auto;
	.wp-post-image { margin-top: -110px; }
	.entry-content {
		.btn, .alignnone { margin-right: 20px; }
	}
}



/* ==========================================================================
	Footer
	========================================================================== */

.content-info { background: #6d7479; padding: 35px 0; color: #b4bbc1; font-size: 13px; 
	a { color: #FFF; }
	p { .san(); }

	.sep { margin: 0 5px; }
	.copyright { text-align: right; }

	.navbar-nav { margin: 0 0 10px; 
		> li { margin-right: 25px; 
			> a { padding: 0; text-transform: uppercase; font-weight: 400; font-size: 14px; .san(); letter-spacing: 2px; }

			&.active, &:hover, &.open {
				> a, > a:hover { background: transparent; }
			}
		}
	}

	@media screen and (max-width: 767px) {
		p { text-align: center; }
	}
}



/* ==========================================================================
	WordPress Generated Classes
	See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
	========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }


/* ==========================================================================
	Helper
	========================================================================== */

.flex { display: flex; justify-content: center; align-items: stretch; }
.flexstart { justify-content: flex-start; }
.flexaligncenter { align-items: center; }

.r-image { max-width: 100%; height: auto; }

.text-hide() {
	font: ~"0/0" a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}


.clear { clear: both; }

.clearfix { *zoom: 1;
	&:before, &:after { display: table; content: ""; line-height: 0; }
	&:after { clear: both; }
}



















.educational-tools {
	.toptab { margin-bottom: 80px; }
	iframe { margin-bottom: 110px; }
	h4.section-subhead4 { margin-bottom: 35px; }
}

.can-vision {
	.section-ribbon { .droid(); color: #FFF; font-size: 20px; font-style: italic; text-align: center; padding: 25px 280px 20px 80px; width: 924px; height: 146px; background: url(../img/section-ribbon-2.png) 100% 0 no-repeat; position: relative; left: -20px; margin-top: 30px; }
}

.events-archive {
	.banner.navbar-default, .content-info, #tribe-mobile-container { display: none; }
	.body { padding: 0; }
}

.about-us {
	.body { background-position: left; background-size: 40% auto; }
	@media screen and (max-width: 1200px) {
		.body { background-position: left; background-size: contain; }
	}
}

.products {
	.body { 
		h1:first-child {display: none;}
	}
}

.silgan-u {
	.body { background-position: left top; background-size: 45% auto; padding-top: 0px; }
	.silgan-big-u { display: inline-block; background: url(../img/silgan-U.png) 0 0 no-repeat; width: 51px; height: 58px; vertical-align: bottom; .text-hide(); }
	@media screen and (max-width: 1200px) {
		.body { background-position: left; background-size: contain; }
	}

}

.fat-or-fit {
	p { font-size: 14px; }
}

.cans-get-you-cooking {
	.hentry {
		.entry-content {
			a:not(.btn) { text-decoration: none; color: #ff4211; }
		}
	}
	.body { background-position: left top; background-size: 45% auto; padding-top: 0px; }
	@media screen and (max-width: 1200px) {
	.body { background-position: left; background-size: contain; }
	}
	h5 { .hfam(); font-weight: normal; font-size: 26px; }
	.a-title {
		h1 {.san();}
	}
}

.services {
	.body { background-position: left top; background-size: 45% auto; padding-top: 0px; }
	@media screen and (max-width: 1200px) {
	.body { background-position: left; background-size: contain; }
	}
}

.new-product-development-technology {
	.dev-section-1 {
		h1 { font-size: 54px; }
	}
	.dev-section-2 {
		b { color: #9bae3c; font-weight: 400; }
		.dev-table-header { font-weight: 400; }
		.dev-table {
			h4 {.san(); font-weight: 600; }
			p { font-weight: 400; }
		}
	}
	.dev-section-5 {
		h3.section-subhead3 {.san(); font-weight: 600;}
	}

}

.panel-group {
	h4.panel-title { .san(); font-weight: 600; }
	.place-panel {font-weight: 600;}
}

.news-events {
	.published { font-weight: 400;}
	.entry-title { .san(); }
}

.forms {
	.btn-right-corner { .droid(); font-style: italic; }
}






