body { text-align: center; .hfam(); background: url(../build-a-can/img/can-bg.jpg) 0 0 repeat-x #FFF; color: #51585d; }

.hfam() { font-family: DINPRO, "din-condensed-web-1", "din-condensed-web-2", Arial; }
.droid() { font-family: 'Droid Serif', serif; font-style: italic; }
.san() { font-family: Arial; }


h1 { color: #e9552a; text-transform: uppercase; font-size: 60px; line-height: 1;
	> span { display: inline-block; padding: 4px 5px 7px; border: 2px solid #e9552a; border-width: 2px 0; }
}

a, a:focus { outline: none; }

p { .san(); font-size: 20px; color: #797f84; margin: 1em 0 1.5em; }

.label { .droid(); font-size: 18px; }

.btn { padding: 0 40px; display: inline-block; .san(); font-style: normal; font-size: 24px;
	&.btn-right-corner { background: #ff7754; color: #FFF; border-radius: 0; border: 4px solid; border-color: #ff9b81 #ff9b81 #e33b0f #e33b0f; box-shadow: 3px 3px 5px rgba(0, 0, 0, .11);
	}
}

.preload { display: none; }

.can-col { padding: 0 60px; margin-bottom: 45px;
	&:first-child { background: url(../build-a-can/img/border.png) 100% 100% no-repeat; }
	.can-image { width: 100%; padding-bottom: 100%; background: url(../build-a-can/img/double-circle.png) center center no-repeat; position: relative; margin: 0 0 20px;
		img { position: absolute; left: 50%; top: 50%; margin-left: -96px; margin-top: -187px; }
	}

	.select-option { margin: 25px 0 35px; min-height: 125px;
		display: flex; justify-content: space-around;
		a { margin: auto; padding: 0 3px;
			img { max-width: 100%; height: auto; }
		}

		.no-flexbox & {
			a { padding: 0 5px; line-height: 125px;
				img { vertical-align: middle; }
			}
		}

		&.select-color { max-width: 390px; margin: 25px auto 35px; min-height: 0;
			a { .text-hide(); width: 50px; height: 50px; border-radius: 50%; border: #D2D4D4 1px solid; position: relative;
				&:after { content: ''; width: 34px; height: 34px; position: absolute; left: 7px; top: 7px; background: #a90006; border-radius: 50%; }
				&.green:after { background: #80b821; }
				&.blue:after { background: #2066b5; }
				&.purple:after { background: #6d20b4; }
				&.orange:after { background: #f08a16; }
			}
		}
	}
}














.text-hide() {
	font: ~"0/0" a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}