body { text-align: center; .hfam(); background: url(../timeline/img/can-bg.jpg) 0 0 repeat-x #FFF; color: #51585d; }

.hfam() { font-family: "din-condensed-web-1", "din-condensed-web-2", Arial; }
.droid() { font-family: 'Droid Serif', serif; font-style: italic; }
.san() { font-family: "proxima-nova-1","proxima-nova-2", Arial, san-serif; }
.font_reset() { font-family: 'Helvetica', Arial, san-serif; }

.flex() {
	display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

h1 { color: #e9552a; text-transform: uppercase; font-size: 60px; line-height: 1; .hfam(); margin-top: 0; padding-top: 1.5em;
	> span { display: inline-block; padding: 7px 5px; border: 2px solid #e9552a; border-width: 2px 0; }
}

p { font-size: 13px; line-height: 1.3; color: #797f84; margin: 1em 0 1.5em; .san(); color: #000; }

.container { min-height: 800px; }


.timeline { max-width: 1030px; margin: 130px auto 0; position: relative;
	.timeline-content { margin: 0 40px; overflow: hidden; position: relative;
		h5 { font-weight: normal; font-size: 14px; .san(); text-align: center; margin: 75px 0 5px; line-height: 1.1; position: relative;
			> span { display: inline-block; background: #D9E4A8; padding: 2px 3px 0; position: relative; }
			&:before { position: absolute; width: 100%; content: ''; height: 1px; background: #000; top: 50%; margin-top: -1px; left: 0; }
		}
		img.timeline-bar { border-top: 8px solid #81c3f3; position: absolute; top: 130px; left: 0; }
		.timeline-inner { width: 3735px; position: relative; transition: left .5s; left: 0; }
		.timeline-image { height: 110px; .flex(); align-items: flex-end;
			img { display: block; margin: 0 auto; }
		}

		table.thetimeline { position: relative; z-index: 1;
			td { padding: 0 40px 0 0; vertical-align: top; text-align: left;
				&:last-child { padding-right: 0; }
				p { margin: 0; }
			}
		}
	}

	.timeline-control {
		a { position: absolute; width: 26px; height: 42px; top: 43%; margin-top: -21px; .text-hide();
			&.prev { background: url(../timeline/img/timeline-prev.png); left: 0; }
			&.next { background: url(../timeline/img/timeline-next.png); right: 0; }
		}
	}
}


.text-hide() {
	font: ~"0/0" a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}