@font-face {
	font-family: 'PFDin';
	src: url('../fonts/pfdin.eot');
	src: url('../fonts/pfdin.eot?#iefix') format('embedded-opentype'), url('../fonts/pfdin.woff') format('woff'), url('../fonts/pfdin.ttf') format('truetype');
}
@font-face {
	font-family: "Gothic";
	src: url("../fonts/gothic.eot?#iefix");
	src: url("../fonts/gothic.eot?#iefix") format("eot"), url("../fonts/gothic.woff") format("woff"), url("../fonts/gothic..ttf") format("truetype"), url("../fonts/gothic.svg#aa7bdfa1-6275-4ab9-8f58-05cd5a6775c5") format("svg");
}